<div class="col-md-12">
	<p>Op uitnodiging is er een oefenavond Verbindend Communiceren gebaseerd op <a href="/introductie">Geweldloze Communicatie</a>, begeleid door Mark Marijnissen.</p>

	<!--<h3 id="wat-">Wat?</h3>
	<p>Geweldloze Communicatie is een praktische methode om verbindend te communiceren. </p>
	<p>De vier elementen van geweldloze communicatie helpen je de wereld te zien door een bril van compassie.</p>
	<p>We oefenen met behulp van theorie, voorbeelden, oefeningen en rollenspelen. We werken met onze dagelijkse situaties. Hierin leren we:</p>
	<ul>
		<li><strong>Zelf-compassie</strong>: Verbinding maken met je eigen gevoelens en behoeftes.</li>
		<li><strong>Spreken</strong>: Eerlijkheid, authenticiteit, kwetsbaarheid en verbinding.</li>
		<li><strong>Luisteren</strong>: Met aandacht en compassie.</li>
	</ul>

	<h3 id="waarom-">Waarom?</h3>
	<p><strong>Zelf-compassie</strong> geeft inzicht en helderheid over je eigen gevoelens en behoeftes. Je leert omgaan met innerlijke conflicten, stress, spanning, keuzes maken, schuld, boosheid, schaamte, verdriet en wat er ook in je leeft.</p>
	<p><strong>Spreken</strong> leert je te vragen wat je nodig hebt. Wat kun je vragen om meer plezier, verbinding en voldoening te krijgen? En hoe kun je ervoor zorgen dat anderen je met plezier hiermee helpen?</p>
	<p><strong>Luisteren</strong> helpt je met anderen te verbinden. Je leert écht te luisteren en iemand helemaal te zien. Dit kun je gebruiken om spanningen, frustratie of afstand weg te nemen - met je partner, op de werkvloer, bij je familie of met je vrienden. </p>

	<p><a href="/introductie" class="btn btn-large btn-primary pull-right">Lees meer &rarr;</a><br/></p>-->
	<h3>Aanmelden</h3>
	<ol>
		<li>Lees eerst de <a href="/artikelen/introductie">introductie Verbindend Communiceren</a>.</li>
		<li>Zet je e-mail op de mailinglijst. Je ontvangt dan een uitnodiging om te komen:
			<form class="form" action="https://tinyletter.com/nvcnijmegen" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/nvcnijmegen', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="e-mail" name="email" id="tlemail">
					<span class="input-group-btn">
					<input type="submit" value="Aanmelden" class="btn btn-primary">
					</span>
				</div>
				<input type="hidden" value="1" name="embed">
				<input type="hidden" value="pa5pb4asa1da33wpc6cbe90qiqe01aeex6" name="anti-captcha-token"></form>
			</li>
			<li><b>Mail terug</b> als je van plan bent om te komen!</li>
		</ol>
		<hr/>
		<h3>Praktische Informatie</h3>
		<table class="table table-striped">
			<tbody><tr>
				<th>Voor wie?</th>
				<td>Iedereen, ook al ben je niet bekend met Geweldloze Communicatie</td>
			</tr>
			<tr>
				<th>Kosten</th>
				<td>&euro; 5-15 per keer, <a href="/diensten/tarieven">tenzij geld een probleem voor je is</a>.</td>
			</tr>
			<tr>
				<th>Tijd</th>
				<td>Zie e-mail</td>
			</tr>
			<tr>
				<th>Locatie</th>
				<td><a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=Stationsplein%2B12%2BNijmegen&amp;ie=UTF8&amp;z=16&amp;t=h&amp;iwloc=near">Tegenover Nijmegen Centraal Station</a>
			</td>
		</tr>
	</tbody></table>
	<!--<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=Stationsplein%2B12%2BNijmegen&amp;ie=UTF8&amp;z=16&amp;t=h&amp;iwloc=near&amp;output=embed"></iframe>-->
	<hr/>
	<h3>Programma</h3>
	<table class="table table-striped">
		<tbody><tr>
			<td>19:30</td>
			<td>Binnenkomst (met thee)</td>
		</tr>
		<tr>
			<td>19:45</td>
			<td>Opening</td>
		</tr>
		<tr>
			<td>20:00</td>
			<td>Oefeningen</td>
		</tr>
		<tr>
			<td>20:55</td>
			<td>Korte pauze</td>
		</tr>
		<tr>
			<td>21:00</td>
			<td>Oefeningen</td>
		</tr>
		<tr>
			<td>21:45</td>
			<td>Afsluiting</td>
		</tr>
		<tr>
			<td>22:00</td>
			<td>Einde</td>
		</tr>
	</tbody></table>
</div>