<p>Voor vragen en informatie kun je me bereiken op <strong>mark@levenincompassie.nl</strong>.</p>
<div class="well">
<strong>Locatie Activiteiten:</strong><br/>
<a href="<%= locatie_lindenberg %>" target="_blank">De Lindenberg</a>,<br/>
Ridderstraat 27-29 (<a href="<%= locatie_blauwe_deur %>" target="_blank">Streetview</a>)<br/>
Nijmegen. </div>

<div class="well">
	<strong>Leven in Compassie</strong><br/>
	Wolfstraat 180<br/>
	6531LR Nijmegen<br/>
	KvK: 50210041
</div>