<h1 class="text-center">Contact</h1>
<div class="col-sm-8 col-md-7 col-md-offset-1">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-2">
			<h3 class="align-top">Stuur een E-mail</h3>
			<p>Naar <strong>&#109;&#097;&#114;&#107;&#064;&#108;&#101;&#118;&#101;&#110;&#105;&#110;&#099;&#111;&#109;&#112;&#097;&#115;&#115;&#105;&#101;&#046;&#110;&#108;</strong></p>
		</div>
	</div>
	<%- include ../_email.ejs %>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-2">
			<hr/>
			<h3>Maak een bel afspraak</h3>
			<%- partial('../_callmeback.ejs',{no_inline: true}) %>

			<hr/>
			<h3>Kom op bezoek</h3>
			Je bent van harte welkom om langs te komen voor een kop koffie:
			<br/>
			<br/>
			<strong>Cursus Locatie / Bezoek locatie / Post adres:</strong><br/>
      <a href="<%= locatie_lindenberg %>" target="_blank">De Lindenberg</a><br/>
			Ridderstraat 29<br/>
			Nijmegen<br/>
      <br/>
      Leven in Compassie is onderdeel van <a href="http://www.youbedo.com" target="_blank">YouBeDo B.V.</a><br/>
      KvK-nummer: 11066474<br/>
      Btw-identificatienummer: NL817095172B01<br/>
      <br/>

		</div>
	</div>

</div>
<div class="col-sm-3 hidden-xs">
	<img src="/assets/mark.jpg" style="width: 100%;"></img>
</div>
