:markdown
	Tijdens 1-op-1 compassie geef ik je rust, helderheid en inzicht.

	Ik luister empathisch naar wat er in je leeft. Ik vertel je terug wat ik je hoor en zie op een compassievolle manier. Dit geeft rust, opluchting, helderheid en inzicht.

	Een 1-op-1 sessie kan je helpen als...:

	* ...door een moeilijke tijd heen gaat
	* ...je vastloopt of niet weet wat je moet doen
	* ...last hebt van je innerlijke perfectionist of criticus.
	* ...je gestresst bent over een keuze die je moet maken
	* ...je je schuldig voelt
	* ...je je boos of gefrustreerd voelt
	* ...wilt weten wat er écht in je leeft

	### Maak een afspraak.
	De eerste sessie is gratis. Bel of [stuur een e-mail](/over/contact).

!= partial("../_callmeback")