.well
  p
    strong Aanmelden
    p Dit evenement wordt ingepland zodra er voldoende aanmeldingen zijn.
    ol
      li
        a(href="/over/contact") Stuur een e-mail om je aan te melden.
      li Bij <strong>voldoende aanmeldingen</strong> ontvang je een datumprikker.
      li Als je beschikbaar bent op de gekozen datum is je aanmelding <strong>definitief</strong>.
      li Je ontvangt e-mail ter bevestiging met gegevens om te betalen.
