:markdown
	Soms ontstaat er een conflict waardoor het moeilijk is met elkaar te communiceren. Er ontstaat frustratie en afstand in plaats van begrip, vertrouwen en samenwerking. Niet elk conflict is explosief - soms wordt er juist gezwegen of met tegenzin meegewerkt.

	* Hoe kun je helemaal eerlijk zijn én tegelijk helemaal gehoord worden?
	* Hoe kun je weer vertrouwen vinden nadat het vertrouwen is beschadigd?
	* Hoe kom je uit een dilemma waarbij er slechts één kan winnen?
	* Wie maakt er ruimte om te luisteren als je allebei vol zit van je eigen verhaal?
	* Wat doe je als je vastloopt in een discussie en niet weet hoe je verder moet?

	Conflict-bemiddeling gebaseerd op Geweldloze Communicatie biedt hier een uitkomst. 

	### Voordelen

	#### Er is iemand met ruimte om te luisteren

	Het kan ontzettend moeilijk zijn om te luisteren als je zelf in een emotie zit. En hoezo ben jij degene die moet luisteren? De ander zou naar eerst eens naar jou moeten luisteren!	

	Bij conflict bemiddeling is iemand met ruimte om naar je te luisteren.

	#### Gesprek begeleiding door een onafhankelijk persoon

	Het kan ontzettend vermoeiend zijn om zowel het gesprek te begeleiden als zélf te spreken. 

	Bij conflict bemiddeling wordt het gesprek begeleid zodat jij je helemaal kunt richten op wat je te zeggen hebt.

	#### Wederzijds begrip dankzij Geweldloze Communicatie

	Geweldloze Communicatie is een krachtig communicatiemodel dat zorgt voor wederzijds begrip en verbinding.

	Bij conflict bemiddeling worden woorden die zorgen voor conflict vertaalt naar woorden zie zorgen voor verbinding. 

	### Programma

	Een sessie duurt 3 uur. Eerst spreek ik 30 minuten met elk persoon individueel om te horen wat er bij iedereen leeft. Daarna komen we samen en begeleid ik een gesprek.

:markdown
	### Reacties van anderen

	<blockquote class="reactie">
		"Ik was verrast over hoeveel Mark ons in korte tijd heeft geholpen.
		<br/>
		<br/> 
		Voor de sessie leken de verschillen (achteraf: strategieën) tussen mij 
		en mijn partner lijnrecht tegenover elkaar te staan. Door de sessie 
		hebben we inzicht gekregen in elkaars behoeften, en elkaar daar in kunnen vinden.
		<br/>
		<br/>
		Mark heeft een prettige manier van werken; hij kan treffend een verhaal 
		samenvatten en helpt daarbij om de grote lijnen eruit te halen. 
		Daardoor kreeg ik zelf ook meer inzicht in mijn eigen gevoelens en behoeften, 
		waarbij Mark vervolgens hielp dit over te brengen. Zijn manier van werken 
		heeft echt gezorgd voor verbinding."
	</blockquote>
	<div class="reactie-auteur">- Anoniem</div>

	### Maak een afspraak
	
	Een korte kennismaking is gratis. Bel of [stuur een e-mail](/over/contact) om te kijken wat ik voor je kan betekenen:

!= partial("../_callmeback",{no_inline: false})