.row
    .col-md-6.col-md-offset-3.col-xs-12.col-sm-10.col-sm-offset-1
        h1.title!= title

.row
    .col-md-3.hidden-sm.hidden-xs.col-sm-1
            ul#toc.nav.nav-stacked.toc(data-spy="affix",data-offset-top="180")    
    .col-md-6.col-xs-12.col-sm-10
        :markdown
            Leer in 6 avonden hoe je met behup van geweldloze communicatie meer **verbinding**, **inzicht** en **compassie** in je leven kunt brengen.

            De nadruk ligt op oefenen, voelen en ervaren - niet op  theoretische kennis. 

            ### Wat ga je ervaren?

            * Hoe het voelt om écht gehoord te worden.
            * Meer details en nuances in je gevoelsleven.
            * Inzicht en bewustwording van je eigen behoeftes.
            * Meer openheid, verbinding en warmte van jezelf en anderen.
            * Opluchting, inzicht en kalmte als je een oordeel (of andere jakhals) met compassie ziet.
            * Het magische moment als een conflict transformeert in verdieping en verbinding.
            * Kracht en levendigheid als er spontaan creatieve alternatieven onstaan voor een compromis dat je hebt gedaan.

            ### Programma

             **6 avondbijeenkomsten** (2,5 uur per week)<br/>
            Je krijgt 6 avonden oefeningen in zelfcompassie, spreken en luisteren. Na korte uitleg en demonstratie gaan we oefenen met situaties uit ons eigen leven. Dit doen we met bijvoorbeeld met een rollenspel. Daarna is er mogelijkheid na te bespreken.

             **Empathie buddy** (60 min per week, optioneel)<br/>
            Oefen elke week in een ander tweetal met empathie geven. Zo help je elkaar met steun, inzicht, leren en (zelf)verbinding.

             **Oefeningen voor thuis** (10 min per dag, optioneel)<br/>
            Elke week twee oefeningen om de stof direct toe te passen in je dagelijks leven: Een oefenning voor bewustwording en een oefening om geweldloze communicatie toe te passen in je leven.

             **Facebook groep**<br/>
            Deel je vragen, ervaringen en verhalen met elkaar in een privé facebook groep.

        a(class="more") Lees meer
        span.more  over de onderwerpen die we behandelen.

        #more.hidden.well
            :markdown
                * De kernprincipes van Geweldloze Communicatie
                * De vier stappen voor verbinding.
                * De valkuilen van elke stap.
                * De drie rollen.
                * Een nieuw perspectief: Hoe je met een bril van liefde en compassie naar de wereld kunt kijken.
                * Oordelen en andere jahkalzen ontwapenen en transformeren met compassie.
                * Empathisch luisteren... en als je dit al kan dan kun je deze vaardigheid enorm verdiepen!
                * Inchecken: Leer je gevoelens en behoeftes te herkennen en benoemen en ontwikkel zelfcompassie voor je innerlijke criticus.
                * Vertrouwen ontwikkelen in het onstaan van spontane creatieve ideeën als je vastloopt in een conflict of compromis.

        :markdown
            ### Praktische informatie

            <table class="table table-striped">
                <tr><th>Voor&nbsp;wie?</th><td>
                    Als je meer verbinding, compassie en inzicht wilt ervaren.<br/>
                    Als Geweldloze Communicatie nieuw voor je is.<br/>
                    Als je wilt oefenen.<br/>
                    Als het alweer een tijdje geleden is.</td></tr>
                <tr><th>Kosten</th><td>&euro; 180,- (eerste 4 aanmeldingen krijgen 20 euro korting!l)</td></tr>
                <tr><th>Tijd</th><td>Vrijdag van 19:15 tot 20:00.<br/>Start om 19:30</td></tr>
                <tr><th>Datum</th><td>Vrijdag 8, 15, 22 en 29 januari<br/>en 5 en 12 februari.</td></tr>
                <tr><th>Locatie</th><td><a href="">De Lindenberg</a><br/>Ridderstraat 27-29,<br/>Nijmegen</td></tr>
            </table>

.row: .col-md-8.col-md-offset-2.col-xs-12
    #aanmelden.anchor(product="cursus",title="Aanmelden")
    != partial('../_aanmelden.jade',{embedded:true})

.row: .col-md-6.col-md-offset-3.col-xs-12.col-sm-10.col-sm-offset-1
    :markdown
        ### Twijfels?

        **Ken je de theorie al?**<br/> Geen zorgen: de nadruk ligt op oefenen en ervaren. De theorie is eerder een fijne opfrisser dan saaie herhaling van wat je al weet.

        **Houd geld je tegen om mee te doen?**<br/> Neem dan contact met mij op - geld mag geen reden zijn om niet mee te doen!

        <a id="info"></a>**Twijfel je nog over deelname? Kom naar de informatieavond!**<br/>
        <a href="/aanmelden?p=cursus-info">Meld je aan</a> voor de informatieavond op vrijdag 18 december. Dan kun je vast één avond ervaren wat ik doe. Zelfde tijd, zelfde locatie. 


