:markdown
    Leer in 4 dagen hoe je met behulp van geweldloze communicatie en mindfulness meer **verbinding**, **inzicht** en **compassie** in je leven kunt brengen.
    Hiermee transformeer je jouw relatie met je partner, collega's, vrienden en jezelf.

    De nadruk ligt op oefenen, voelen en ervaren - niet op theoretische kennis. 

    ### Wat ga je ervaren?

    * Hoe het voelt om écht gehoord te worden.
    * Meer details en nuances in je gevoelsleven.
    * Wat er in je onbewuste leeft.
    * Verdieping in het contact met anderen.
    * Inzicht in jouw gevoelens en behoeftes.
    * Meer openheid, verbinding en warmte van jezelf en anderen.
    * Opluchting, inzicht en kalmte als je een oordeel (of andere jakhals) met compassie ziet.

    ### Wat ga je leren?

    * De kernprincipes van Geweldloze Communicatie
    * De vier stappen voor verbinding.
    * De valkuilen van elke stap.
    * De drie rollen.
    * Een nieuw perspectief: Hoe je met een bril van liefde en compassie naar de wereld kunt kijken.
    * Oordelen en andere jahkalzen ontwapenen en transformeren met compassie.
    * Empathisch luisteren... en als je dit al kan dan kun je deze vaardigheid enorm verdiepen!
    * Inchecken: Leer je gevoelens en behoeftes te herkennen en benoemen en ontwikkel zelfcompassie voor je innerlijke criticus.
    * De kracht van verzoekjes.
    
    ### En meer...
    
    Persoonlijke begeleiding om te groeien en bloeien.
    
    * Met een individuele coachingsessie **vooraf** ontdekken we waar je wilt groeien en bloeien zodat jij het meeste uit de cursus kunt halen.
    * Met een individuele coachingsessie **achteraf** verkennen we hoe je Geweldloze Communicatie nog verder kunt gebruiken in jouw leven.
    
    ### Programma

    **4 bijeenkomsten van één dag** (4x 6,5 uur)<br/>
    Je krijgt oefeningen voor meditatie, zelfcompassie, spreken en luisteren. Na korte uitleg en demonstratie gaan we oefenen met situaties uit ons eigen leven. Dit doen we met bijvoorbeeld met een rollenspel. Daarna is er mogelijkheid na te bespreken.

    **2 individuele coachingsessies** (2x 1,5 uur)<br/>
    Een individuele coachingsessie om te verkennen waar we waar je wilt groeien. Hierdoor ontdekken we hoe jij het meeste uit de cursus kunt halen, en hoe jij Geweldloze Communicatie kan inzetten om je leven te verrijken. 
    
    **Empathie buddy** (1 uur per week, optioneel)<br/>
    Oefen elke week in een ander tweetal met empathie geven. Zo help je elkaar met steun, inzicht, leren en (zelf)verbinding.

     **Oefeningen voor thuis** (10 min per dag, optioneel)<br/>
    Elke week twee oefeningen om de stof direct toe te passen in je dagelijks leven: Een oefenning voor bewustwording en een oefening om geweldloze communicatie toe te passen in je leven.

     **Facebook groep**<br/>
    Deel je vragen, ervaringen en verhalen met elkaar in een privé facebook groep.

    ### Praktische informatie

    <table class="table table-striped">
        <tr><th>Voor&nbsp;wie?</th><td>
            Als je meer verbinding, compassie en inzicht wilt ervaren.<br/>
            Als Geweldloze Communicatie nieuw voor je is.<br/>
            Als je wilt oefenen met Geweldloze Communicatie.</td></tr>
        <tr><th>Kosten</th><td>&euro; 500,-</td></tr>
        <tr><th>Tijd</th><td>Van 9:30 tot 17:00.</td></tr>
        <tr><th>Datum</th><td>Bij voldoende aanmeldingen plannen we samen een datum.</td></tr>
        <tr><th>Locatie</th><td>Afhankelijk van beschikbaarheid en aantal deelnemers:<br/>- Ridderstraat 29 (De Lindenberg), Nijmegen<br/>- Vrouwe Udasingel 241 (Leven in Compassie), Lent<br/>- De Ruyterstraat 65 (Cordium), Nijmegen</td></tr>
    </table>

#aanmelden.anchor(title="Aanmelden")
!= partial('_aanmeldblock',{product:'cursus-aanmelding'})

:markdown
    ### Dit zeggen anderen over de cursus:

    Eerder cursisten hebben het volgende geleerd en ervaren:

    <blockquote class="reactie">*"Vertrouwen op gevoel en **intuitie**"*</blockquote>
    <blockquote class="reactie">*"Wat er in mijn **onbewuste** leeft :)"*</blockquote>
    <blockquote class="reactie">*"**(voor)gevoel** koppelen aan gewaarwordingen in mijn lichaam, deze inzetten **om empathie voor mezelf en de ander te vergroten**"*</blockquote>
    <blockquote class="reactie">*"Door naar de gevoelens en behoeften van mijn cliënten te vragen en raden komen ze hier meer mee in contact en **helpt het hen keuzes te maken vanuit hun hart.**"*</blockquote>
    <blockquote class="reactie">*"Ik heb geleerd meer af te stemmen met mijn behoeftes en ben ik **beter voor mezelf gaan zorgen**. </blockquote>
    <blockquote class="reactie">*"Naar anderen toe voel ik **meer verbinding**"*</blockquote>
    <blockquote class="reactie">*"Ik kan meer **voor mezelf opkomen**"*</blockquote>
    <blockquote class="reactie">*"Fascinatie en enthousiasme voor de behoeftes achter de jakhals van de ander"</blockquote>
    <blockquote class="reactie">"Vroeger gaf ik altijd de ander hun zin om conflict te vermijden, maar nu heb ik een manier waarop ik aan kan geven wat ik echt wil, zonder dat het meteen een welles-nietes discussie wordt."</blockquote>

    ### Nog twijfels?

    Kom naar de [Open Cirkel](/aanbod/open-cirkel) om kennis te maken met mijn manier van werken.

    **Houd geld je tegen om mee te doen?**<br/> Neem dan [contact](/over/contact) met mij op om de mogelijkheden te bespreken.
