.text-center
	h2(style="margin-bottom: 0; line-height: 1em;") Weekend introduction to <br/>Nonviolent Communication 
	h4(style="margin: 0 0 20px;") with Oriane Boyer

p My colleague and dear friend Oriane Boyer is leading a weekend introduction in Nijmegen! 

p I will be supporting and assisting Oriane during this course.

p I've met Oriane on many weekend retreats and I am excited to work with her. I've experienced many times how she goes straight to the heart of the matter. She brings clarity and awareness to the subtle feelings that are happening right here and now.

p
	strong You will learn:
	ul
		li How to be honest without being judgemental or demanding.
		li How to hear the essence of what other people say, no matter how they express it.
		li How to stand for your needs and assertively ask for what you want.
		li How to connect through conflict.
		li The power of Empathy to dissolve anger, pain, fear and hurt
		li And more...

p.text-right: a.btn.btn-lg.btn-default(href="http://www.connecting2life.net/offers/workshops/netherlands/introduction-nvc-nijmegen/") Read more information on the website &rarr;


h3 Practical Information
table.table.table-striped
	tr
		th Trainer
		td Oriane Boyer,<br/>assisted by Mark Marijnissen
	tr
		th Date &amp; Time
		td 28 and 29 november, 10:00 - 18:00 each day
	tr
		th Language
		td English
	tr
		th Location
		td
			| Café de Raaf in de Refter in Ubbergen<br/>
			| Rijksstraatweg 37<br/>
			| 6574AC Ubbergen
	tr
		th Fee
		td € 170-340<br/>(choice is depending on your income and free will)
	
	tr
		th Information &amp; Registration
		td Eva de Boer<br/>
			a(href="mailto:evaopreis@gmail.com") evaopreis@gmail.com<br/>
			a(href="tel:0634848802") 0634848802

p.text-right: a(href="mailto:evaopreis@gmail.com").btn.btn-lg.btn-primary Register &rarr;