p
  | Een introductie in Communiceren met Compassie, gebaseerd op Geweldloze Communicatie.
h3#waarom Waarom?
p
  strong Ontwikkel zelf-compassie.
  |  Zelf-compassie geeft inzicht in je gevoelens en behoeftes. Je leert omgaan met innerlijke conflicten, je innerlijke criticus, stress, gevoelens zoals schuld, boosheid en schaamte... of wat er ook in je leeft.
p
  strong Verbind met anderen
  | . Door met empathie te luisteren zorg je voor meer intimiteit, warmte en verbinding. Ook handig om frustraties en ruzies op te lossen. Met je partner, op de werkvloer, bij je familie of met je vrienden.
p
  strong Hoe maak ik mijn leven leuker?
  |  Het geeft veel kracht en plezier als je weet wat je nodig hebt en weet hoe je hierom kunt vragen. Door te spreken met compassie wordt het een stuk makkelijker om voor jezelf te zorgen en je leven leuker te maken.
h3#wat-gaan-we-doen Wat gaan we doen?
p
  | Ik begeleid verschillende oefeningen in zelf-compassie, spreken en luisteren. Na korte uitleg werken we in twee- of drietallen met situaties uit ons eigen leven. De nadruk ligt op verbinding en compassie écht voelen en beleven.

h3#praktische-informatie Praktische Informatie
table.table.table-striped
  tbody
    tr
      th Voor wie?
      td Iedereen, met name als je nog nooit van Geweldloze Communicatie hebt gehoord.
    tr
      th Kosten
      td € 30,- per persoon.
        tr
    th Datum
      td Bij 6 aanmeldingen wordt deze samen bepaald.
    tr
      th Tijd
      td
        | Van
        strong 13:00
        |  tot
        strong 17:00
    tr
      th Locatie
      td In overleg
#aanmelden.anchor(title="Aanmelden")
!= partial('_aanmeldblock',{ product: 'introductie-aanmelding'})

h3#programma Programma
p
  | Het programma begint om
  strong 13:30
  |  en duurt tot
  strong 17:00
  | .
p
  | Kom alsjeblieft op tijd,
  strong je bent vanaf 13:00 welkom
  |  voor een kop thee.
table.table.table-striped
  tbody
    tr
      td 13:30
      td
        | Opening
    tr
      td 13:45
      td
        | Oefenen met empathie
    tr
      td 14:15
      td
        | Oefeningen
    tr
      td.text-muted 15:15
      td.text-muted
        | ~ pauze ~
    tr
      td 15:30
      td
        | Oefeningen
    tr
      td 16:30
      td
        | Afsluiten: Vieren, Rouwen en Leren
    tr
      td 17:00
      td Einde
