<div class="col-md-12">
	<p>Elke maand is er een open oefengroep <strong>Communiceren met Compassie</strong>, gebaseerd op Geweldloze Communicatie.
	</p>
	<p>De oefengroep is voor iedereen toegankelijk, zelf als je geen ervaring hebt met Geweldloze Communicatie</p>

	<h3>Waarom?</h3>
	<p><strong>Ontwikkel zelf-compassie.</strong> Zelf-compassie geeft inzicht in je gevoelens en behoeftes. Je leert omgaan met innerlijke conflicten, je innerlijke criticus, stress, gevoelens zoals schuld, boosheid en schaamte... of wat er ook in je leeft.</p>
	<p><strong>Verbind met anderen</strong>. Door met empathie te luisteren zorg je voor meer intimiteit, warmte en verbinding. Ook handig om frustraties en ruzies op te lossen. Met je partner, op de werkvloer, bij je familie of met je vrienden.</p>
	<p><strong>Hoe maak ik mijn leven leuker?</strong> Het geeft veel kracht en plezier als je weet wat je nodig hebt en weet hoe je hierom kunt vragen. Door te spreken met compassie wordt het een stuk makkelijker om voor jezelf te zorgen en je leven leuker te maken.</p>

	<h3>Wat gaan we doen?</h3>
	<p>Ik begeleid verschillende oefeningen in zelf-compassie, spreken en luisteren. Na korte uitleg werken we in twee- of drietallen met situaties uit ons eigen leven. De nadruk ligt op verbinding en compassie écht voelen en beleven.
	</p>
	<h3>Aanmelden</h3>
	<ol>
		<li>Lees eerst de <a href="/info/geweldloze-communicatie" target="_blank">introductie Communiceren met compassie</a>.</li>
		<li>Zet je e-mail op de mailinglijst. Je ontvangt dan een uitnodiging om te komen:
			<%- include ../_newsletter.ejs %>
			</li>
			<li><b>Mail terug</b> als je van plan bent om te komen!</li>
			<li>Bij minimaal 6 aanmeldingen gaat de oefengroep door en ontvang je bevestiging - uiterlijk één dag vantevoren.</li>
		</ol>
		<hr/>
		<h3>Praktische Informatie</h3>
		<table class="table table-striped">
			<tbody><tr>
				<th>Voor wie?</th>
				<td>Iedereen, ook al ben je niet bekend met Geweldloze Communicatie</td>
			</tr>
			<tr>
				<th>Kosten</th>
				<td><a href="/over/tarieven">&euro; 15</a></td>
			</tr>
			<tr>
				<th>Tijd</th>
				<td>
					Elke maand op een zaterdag (zie <a href="/agenda">agenda</a>) van <strong>13:00</strong> tot <strong>17:00</strong>
				</td>
			</tr>
			<tr>
				<th>Locatie</th>
				<td>
					<a href="<%= locatie_lindenberg %>" target="_blank">De Lindenberg</a>,
					<br/>
					Ridderstraat 27-29 (<a href="<%= locatie_blauwe_deur %>" target="_blank">Streetview</a>)
					<br/>
					Nijmegen. 
			</td>
		</tr>
	</tbody></table>
	<!--<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=Stationsplein%2B12%2BNijmegen&amp;ie=UTF8&amp;z=16&amp;t=h&amp;iwloc=near&amp;output=embed"></iframe>-->
	<hr/>
	<h3>Programma</h3>
	<p>Elke zaterdag werken we met een ander thema, zie de e-mail.</p>
	<p>Het programma begint om <strong>13:30</strong> en duurt tot <strong>17:00</strong>.</p> 
	<p>Kom alsjeblieft op tijd, <strong>je bent vanaf 13:00 welkom</strong> voor een kop thee.</p>
	<table class="table table-striped">
		<tbody>
		<tr>
			<td>13:30</td>
			<td>Opening <span class="pull-right text-muted">15 min</span></td>
		</tr>
		<tr>
			<td>13:45</td>
			<td>Oefenen met empathie <span class="pull-right text-muted">30 min</span></td>
		</tr>
		<tr>
			<td>14:15</td>
			<td>Oefeningen <span class="pull-right text-muted">60 min</span></td>
		</tr>
		<tr>
			<td class="text-muted">15:15</td>
			<td class="text-muted">~ pauze ~  <span class="pull-right text-muted">15 min</span></td>
		</tr>
		<tr>
			<td>15:30</td>
			<td>Oefeningen <span class="pull-right text-muted">60 min</span></td>
		</tr>
		<tr>
			<td>16:30</td>
			<td>Afsluiten: Vieren, Rouwen en Leren <span class="pull-right text-muted">30 min</span></td>
		</tr>
		<tr>
			<td>17:00</td>
			<td>Einde</td>
		</tr>
	</tbody></table>
</div>