.row
    .col-md-6.col-md-offset-3.col-xs-12.col-sm-10.col-sm-offset-1
        h1.title!= title
.row
    .col-md-3.hidden-sm.hidden-xs.col-sm-1
            ul#toc.nav.nav-stacked.toc(data-spy="affix",data-offset-top="180")
    .col-md-6.col-xs-12.col-sm-10
        :markdown
            Op deze middag ontdekken we wat er gebeurt als je elkaar ontmoet in aandacht.

            Je ervaart levendigheid, echtheid en verbinding. Onzichtbare patronen worden plots duidelijk - dit geeft je inzicht en persoonlijke groei. Dit is een plek waar je de waarheid kan spreken en gehoord wordt.

            **Waarom?**

            - Je voelt je meer levendig achteraf.
            - Je voelt verbinding, echtheid en intimiteit.
            - Je krijgt inzicht in onbewuste patronen
            - Je ontwikkelt je intuitie en empathisch vermogen
            - Je leert beter voor jezelf te zorgen (persoonlijk leiderschap)
            - Het is fascinerend en wonderlijk wat er gebeurt.

            <br/>
            <div class="highlight-block">Ontmoeting in Aandacht = <br/>Mindfulness + Geweldloze Communicatie</div>

            ### Mindfulness
            
            Mindfulness geeft je een "pauze" knop zodat je kunt vertragen en ontdekken. Je observeert wat je denkt, voelt en wat er in je lichaam gebeurt. In plaats van te handelen op de automatische piloot, kun je nu bewust jouw reactie kiezen. In plaats van af te dwalen in allerlei verhalen blijf je geankerd in wat er nu in je leeft. Het is bijzonder inzichtgevend om mindfulness rechtstreeks toe te passen in een gesprek, en niet alleen op je meditatie-kussentje.

            ### Geweldloze Communicatie
            
            Dankzij Geweldloze Communicatie zie je de schoonheid van alles wat er gebeurt. In plaats van advieseren, diagnostiseren, filosoferen of oordelen spreek in de taal van je hart. Je spreekt eerlijk en open jouw waarheid. En als je luistert, luister je naar de menselijkheid in iemands verhaal. Hierdoor ontstaat er  (zelf)acceptatie, waardering en verbinding.

            **Let op**: Tijdens deze dag leer je geen theoretische kennis of specifieke vaardigheden. Alles wat je leert, leer je doordat ik je begeleid in het verkennen van je ervaring.

            ### Waar lijkt het op?
            
            - **Dhamma delen** (zoals bij Wake Up, maar nu mag je wél reageren op elkaar)
            - **Circling** (maar ik onderbouw het vanuit een ander kader)
            - **Hakomi**: Mindfulness-Centered Somatic Psychotherapy. (De nadruk ligt hier niet op persoonlijke problemen of therapie, maar juist op ontdekken wat je ervaart in een ontmoeting.)
            - **Opstellingen** (met name de manier waarop je voelt en spreekt)
            - **Insight Dialogue**

        h3#praktische-informatie Praktische informatie
        table.table.table-striped
            tr
                th Voor wie?
                td Ervaring met empathisch luisteren, meditatie, mindfulness of soortgelijke oefeningen is vereist voor deelname aan deze middag.
            tr
                th Datum
                td Zaterdag 12 december
            tr
                th Tijd
                td 12:00 - 17:00
            tr
                th Locatie
                td Ridderstraat 29 (De Lindenberg), Nijmegen
            tr
                th Kosten
                td 75,- euro
    
.row: .col-md-8.col-md-offset-2.col-xs-12
    #aanmelden.anchor(product="ontmoeting-in-aandacht-december",title="Aanmelden")
    != partial('../_aanmelden.jade',{embedded:true})

.row: .col-md-6.col-md-offset-3.col-xs-12.col-sm-10.col-sm-offset-1
    :markdown
        ### Twijfels?

        **Houd geld je tegen om mee te doen?**<br/> Neem dan contact met mij op om te kijken wat de mogelijkheden zijn.

        **Onduidelijkheid of vragen?**<br/> Neem contact met me op - ik beantwoord ze graag.