:markdown
    Op deze middag ontdekken we wat er gebeurt als je elkaar ontmoet in aandacht.

    Je ervaart levendigheid, echtheid en verbinding. Onzichtbare patronen worden plots duidelijk - dit geeft je inzicht en persoonlijke groei. Dit is een plek waar je de waarheid kan spreken en gehoord wordt.

    **Waarom?**

    - Je voelt je meer levendig achteraf.
    - Je voelt verbinding, echtheid en intimiteit.
    - Je krijgt inzicht in onbewuste patronen
    - Je ontwikkelt je intuitie en empathisch vermogen
    - Je leert beter voor jezelf te zorgen (persoonlijk leiderschap)
    - Het is fascinerend en wonderlijk wat er gebeurt.

    <br/>
    <div class="highlight-block">Ontmoeting in Aandacht = <br/>Mindfulness + Geweldloze Communicatie</div>


    ### Mindfulness

    Mindfulness geeft je een "pauze" knop zodat je kunt vertragen en ontdekken. Je observeert wat je denkt, voelt en wat er in je lichaam gebeurt. In plaats van te handelen op de automatische piloot, kun je nu bewust jouw reactie kiezen. In plaats van af te dwalen in allerlei verhalen blijf je geankerd in wat er nu in je leeft. Het is bijzonder inzichtgevend om mindfulness rechtstreeks toe te passen in een gesprek, en niet alleen op je meditatie-kussentje.

    ### Geweldloze Communicatie

    Dankzij Geweldloze Communicatie zie je de schoonheid van alles wat er gebeurt. In plaats van advieseren, diagnostiseren, filosoferen of oordelen spreek in de taal van je hart. Je spreekt eerlijk en open jouw waarheid. En als je luistert, luister je naar de menselijkheid in iemands verhaal. Hierdoor ontstaat er  (zelf)acceptatie, waardering en verbinding.

    **Let op**: Tijdens deze dag leer je geen theoretische kennis of specifieke vaardigheden. Alles wat je leert, leer je doordat ik je begeleid in het verkennen van je ervaring.

    ### Lijkt op....

    - **Dhamma delen** (zoals bij Wake Up, maar nu mag je wél reageren op elkaar)
    - **Circling**
    - **Hakomi**: Mindfulness-Centered Somatic Psychotherapy. (De nadruk ligt hier niet op persoonlijke problemen of therapie, maar juist op ontdekken wat je ervaart in een ontmoeting.)
    - **Opstellingen** (met name de manier waarop je voelt en spreekt)
    - **Insight Dialogue**

h3#praktische-informatie Praktische informatie
table.table.table-striped
    tr
        th Voor wie?
        td Ervaring met empathisch luisteren, meditatie, mindfulness, een open cirkel of soortgelijke oefeningen is vereist voor deelname aan deze middag.
    tr
        th Datum
        td Bij minimaal 6 aanmeldingen wordt deze samen bepaald.
    tr
        th Tijd
        td 9:30 - 17:00
    tr
        th Locatie
        td Afhankelijk van beschikbaarheid en aantal deelnemers:<br/>- Ridderstraat 29 (De Lindenberg), Nijmegen<br/>- Vrouwe Udasingel 241 (Leven in Compassie), Lent<br/>- De Ruyterstraat 65 (Cordium), Nijmegen
    tr
        th Kosten
        td 100,- euro

#aanmelden.anchor(title="Aanmelden")
!= partial('_aanmeldblock',{product:'ontmoeting-in-aandacht-aanmelding'})

h3#reacties Reacties
div.
    <div class="fb-post" data-href="https://www.facebook.com/aukje.steenhuizen/posts/10153703125278670:0" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/aukje.steenhuizen/posts/10153703125278670:0"><p>&#039;Ontmoeting in aandacht&#039; gaf mij zo&#039;n bevrijdend gevoel! Zat na de open avond helemaal in mijn lichaam. Wat een rust en...</p>Posted by <a href="#" role="button">Aukje Steenhuizen</a> on&nbsp;<a href="https://www.facebook.com/aukje.steenhuizen/posts/10153703125278670:0">Sunday, December 6, 2015</a></blockquote></div></div>


:markdown
    ### Twijfels?

    **Wil je eerst kijken of dit iets voor je is?**<br/> Kom naar een [Open Cirkel](/aanbod/open-cirkel).

    **Andere vragen?**<br/>Ik beantwoord [al jouw vragen](/over/contact).
