:markdown
    Bij de **Open Cirkel** is er ruimte om te zijn met wat er in je leeft.

    ### Wat ga je ervaren?

    Wat ervaar je bij een **Open Cirkel**?

    * Thuiskomen bij jezelf.
    * Zorg voor wat je nodig hebt.
    * Dieper contact met elkaar.
    * Verbondenheid (in onze menselijkheid)
    * Inzicht in jouw gedachtes en patronen.
    * Rust in je hoofd - al kan het soms ook onrust zichtbaar maken.
    * Helderheid over je gevoelens.
    * Levendigheid.
    * (Zelf)compassie voor lastige situaties.

    ### Wat gaan we doen?

    Je wordt begeleid in oefeningen voor spreken, luisteren, bewust voelen of gedachtes opmerken met technieken uit **meditatie** en **geweldloze communicatie**.

    * Je lichaam wakker maken door te rekken, strekken en schudden.
    * Begeleide meditatie om contact te maken met jezelf.
    * Empathisch luisteren naar elkaar.
    * Spreken vanuit je hart (maar vanuit je hoofd mag ook).
    * Ruimte maken voor wat er in je leeft.
    * Geweldloze Communicatie toepassen op situaties die je inbrengt.
    * Rollenspel of oefenen met de vier stappen van Geweldloze Communicatie.

    ### Praktische informatie

    <table class="table table-striped">
        <tr><th>Voor&nbsp;wie?</th><td>Iedereen is welkom ongeacht ervaring.</td></tr>
        <tr><th>Kosten</th><td>&euro; 5, *zodat je kennis kunt maken met Leven in Compassie*<br/><span class="text-muted">(&euro;30 is de normale prijs voor een avondworkshop)</span></td></tr>
        <tr><th>Tijd</th><td>Woensdag van 19:00 tot 21:00.<br/>Start uiterlijk om 19:15.</td></tr>
        <tr><th>Deelnemers</th><td>Maximaal 6 deelnemers.</td></tr>
        <tr><th>Datum</th><td>**Elke twee weken:**<br/>24 augustus<br/>7, 21 september<br/>5, 19 oktober<br/>2, 16, 30 november<br/>14, 28 december</td></tr>
        <tr><th>Locatie</th><td><a href="https://goo.gl/maps/338NNv2P9B22">Vrouwe Udasingel 241</a><br/>6663GT, Lent</td></tr>
    </table>

    ### Aanmelden

.well
    p
        strong Stap 1: Ontvang de uitnodiging per e-mail.
        br
        | Ik stuur elke twee weken een e-mail om je uit te nodigen voor de Open Cirkel.
        br
        | Vul hieronder je e-mail in:
        != partial("../_newsletter")
    p
        strong Stap 2: Antwoord op de e-mail om je aan te melden.
        br
        | Wees er op tijd bij, want er is plek voor maximaal 6 deelnemers.

:markdown
    ### Dit zeggen anderen:

    De Open Cirkel is nieuw, maar dit zeggen anderen over Leven in Compassie:

    <blockquote class="reactie">*"[ik heb geleerd te] Vertrouwen op gevoel en **intuitie**"*</blockquote>
    <blockquote class="reactie">*"[ik heb geleerd] Wat er in mijn **onbewuste** leeft :)"*</blockquote>
    <blockquote class="reactie">*"Ik heb geleerd meer af te stemmen met mijn behoeftes en ben ik **beter voor mezelf gaan zorgen**. </blockquote>
    <blockquote class="reactie">*"Naar anderen toe voel ik **meer verbinding**"*</blockquote>
    <blockquote class="reactie">*"Ik kan meer **voor mezelf opkomen**"*</blockquote>
    <blockquote class="reactie">*"Fascinatie en enthousiasme voor de behoeftes achter de jakhals van de ander"</blockquote>
