:markdown
	Persoonlijke coaching is een combinatie van empathisch luisteren en nieuwe vaardigheden leren. 

	#### Rust en inzicht met empathisch luisteren

	Ik luister empathisch naar wat er in je leeft. 
	Ik vertel je terug wat ik je hoor en zie op een compassievolle manier. 

	Bijvoorbeeld als...

	* ...je niet weet wat je moet doen
	* ...je wil verbinden met wat belangrijk is in je leven
	* ...door een moeilijke tijd heen gaat
	* ...je streng voor jezelf bent (perfectionist)
	* ...je een moeilijke keuze moet maken
	* ...je last hebt van schuld, schaamte, boosheid, verdriet of andere emoties

	Dit geeft rust, opluchting, helderheid en inzicht.

	#### Zelf aan de slag met nieuwe vaardigheden

	Ik kan je vervolgens stap voor stap helpen om **geweldloze communicatie**
	toe te passen:

	* **Liefdevol omgaan met emoties**:
		* Zelfliefde ontwikkelen.
		* Omgaan met intense emoties.
		* Omgaan met woede.
		* Rouwen (omgaan met verdriet).
		* Schuld en schaamte transformeren.
	* **Assertiviteit en persoonlijke kracht**:
		* Innerlijke conflicten oplossen
		* Beslissingen maken
		* Nee zeggen (zonder afstand te creeën).
		* Feedback geven
		* Vragen om wat je nodig hebt
	* **Verbinding maken en conflicten oplossen**:
		* Spreken met iemand die je irriteert.
		* Sorry zeggen zonder dat je jezelf als verkeerd veroordeelt (je eigen goedheid zien).
		* Waardering uiten (op een manier die raakt).
		* Ruzies, conflicten en frustraties oplossen.
		* Kritiek (van jezelf of anderen) transformeren naar compassie.	

	&nbsp;
	### Maak een afspraak.

	De eerste sessie is gratis. Hier ontdekken we wat er bij je leeft en wat ik je kan bieden. Soms is deze eerste sessie al genoeg, en soms is het fijn een traject van meerdere sessies te plannen (1-8).

	Bel of [stuur een e-mail](/over/contact).

!= partial("../_callmeback",{no_inline: false})