:markdown
	Tijdens persoonlijke coaching begeleid ik je stap voor stap om **geweldloze communicatie**
	toe te passen op situaties uit je eigen leven.

	Door op een compassievolle manier naar jezelf en anderen te kijken kun je allerlei
	dagelijkse situaties transformeren.

	* Nee zeggen (zonder afstand te creeën).
	* Spreken tegen iemand die je irriteert.
	* Ruzies, conflicten en frustraties oplossen.
	* Kritiek (van jezelf of anderen) transformeren naar compassie.
	* De schoonheid achter schuldig voelen.
	* Omgaan met woede.
	* Rouwen (omgaan met verdriet).
	* Waardering uiten (op een manier die raakt).
	* Sorry zeggen én je eigen goedheid zien.
	* Kritiek uiten.
	

	
	<hr/>
	
	Bel voor een afspraak of [stuur een e-mail](/over/contact).

!= partial("../_callmeback")