:markdown
	Voor mij is een liefdesrelatie een bron van veel warmte, liefde, intimiteit en verbinding. Tegelijkertijd word ik ook uitgedaagd en kom ik mezelf soms flink tegen.

	Herken je een van de volgende dingen?

	* Je voelt meer afstand dan eerst.
	* Je maakt ruzie om kleine dingen.
	* Je durft iets niet te zeggen, of het is eng om helemaal eerlijk te zijn.
	* Als je een ruzie hebt goedgemaakt, voelt het nog niet helemaal goed.
	* Je kunt het niet eens worden met elkaar.
	* Jullie raken elkaar op je zwakke plek.
	* Je vervalt in patronen of gewoontes waar je je niet fijn bij voelt.

	Of de afstand nu klein of groot is - ik kan jullie ondersteunen in weer dichter bij elkaar komen.

	In een sessie voor twee vertaal subtiele signalen of openlijke ruzie naar een compassievol bericht. Zo help ik jullie écht te zien wat er in de ander leeft, en dat zorgt voor verbinding, inzicht en compassie.

	Het geeft me veel plezier om bij te dragen aan verbinding in een relatie. Wil je kijken of dit iets voor je is? Neem contact op met **mark@levenincompassie.nl** voor een proef sessie.

	### Maak een afspraak.
	
	De eerste sessie is gratis. Bel of [stuur een e-mail](/over/contact).

!= partial("../_callmeback")

:markdown


	## Reacties van anderen

	<blockquote class="reactie">
		"Ik was verrast over hoeveel Mark ons in korte tijd heeft geholpen.
		<br/>
		<br/> 
		Voor de sessie leken de verschillen (achteraf: strategieën) tussen mij 
		en mijn partner lijnrecht tegenover elkaar te staan. Door de sessie 
		hebben we inzicht gekregen in elkaars behoeften, en elkaar daar in kunnen vinden.
		<br/>
		<br/>
		Mark heeft een prettige manier van werken; hij kan treffend een verhaal 
		samenvatten en helpt daarbij om de grote lijnen eruit te halen. 
		Daardoor kreeg ik zelf ook meer inzicht in mijn eigen gevoelens en behoeften, 
		waarbij Mark vervolgens hielp dit over te brengen. Zijn manier van werken 
		heeft echt gezorgd voor verbinding."
	</blockquote>
	<div class="reactie-auteur">-Anoniem</div>