:markdown
	Ontdek meer verbinding, intimiteit en diepgang in je relatie met behulp van geweldloze communicatie.

	Beschikbaar als **dagworkshop** en als **privé sessie**.

	### Voor wie?

	Voor iedereen in een relatie die...

	* een **nieuw perspectief** op patronen in je relatie wil ontdekken
	* graag **helemaal begrepen** wil worden.
	* **meer afstand** voelt dan eerst
	* een discussie hebt die **steeds opnieuw terugkeert**
	* **ruzie** maakt om kleine dingen
	* het eng vind om **helemaal eerlijk** te zijn, of iets niet durft te zeggen

	### Wat gaan we doen?

	#### Bij de dagworkshop
	Ik begeleid in een veilige omgeving oefeningen met situaties uit je relatie. Je zult niet elke oefening met je partner doen - sommige doe je alleen of met iemand anders.

	* **Je leert afstand, ruzie of ergenis te transformeren** naar begrip en diepgang met een nieuw liefdevol perspectief.
	* **Je ontdekt wat je écht nodig hebt** en hoe je hierom kunt vragen.
	* **Je oefent bij getriggerd worden** om weer verbinding met jezelf en elkaar te maken.
	* Je leert **empathisch luisteren** en **verbindend te spreken** over wat er in je leeft.
	* **Vieren en rouwen** - leer op een verbindende manier te delen wat je wel en niet fijn vindt.

	#### Bij een privé sessie
	In een sessie voor twee vertaal subtiele signalen of openlijke ruzie naar een compassievol bericht. Zo help ik jullie écht te zien wat er in de ander leeft, en dat zorgt voor verbinding, inzicht en compassie.


	### Dagworkshop

table.table.table-striped
	tr
		th Voor&nbsp;wie?
		td Iedereen in een relatie
	tr
		th Kosten
		td &euro; 90,- per persoon
	tr
		th Datum
		td Wordt samen bepaald bij 6 aanmeldingen.
	tr
		th Tijd
		td 9:15 tot 17:00, start om 9:30
	tr
		th Locatie
		td In overleg


!= partial('_aanmeldblock',{ product: 'verbinding-in-je-relatie-aanmelding'})


h3#prive-sessie Privé sessie
table.table.table-striped
	tr <th>Voor&nbsp;wie?</th><td>Twee mensen in een relatie, met name als je door een moeilijke tijd gaat.</td></tr>
	tr <th>Kosten</th><td>Vraag naar de kosten.</td></tr>
	tr <th>Datum, Tijd en Locatie</th><td><a href="/over/contact">Op afspraak.</a></td></tr>

:markdown
	### Reacties

	Dit zeggen anderen over een privé sessie:

blockquote.reactie
	| &quot;Ik was verrast over hoeveel Mark ons in korte tijd heeft geholpen.
	br
	br
	| &#x9;Voor de sessie leken de verschillen (achteraf: strategie&euml;n) tussen mij
	| &#x9;en mijn partner lijnrecht tegenover elkaar te staan. Door de sessie
	| &#x9;hebben we inzicht gekregen in elkaars behoeften, en elkaar daar in kunnen vinden.
	br
	br
	| &#x9;Mark heeft een prettige manier van werken; hij kan treffend een verhaal
	| &#x9;samenvatten en helpt daarbij om de grote lijnen eruit te halen.
	| &#x9;Daardoor kreeg ik zelf ook meer inzicht in mijn eigen gevoelens en behoeften,
	| &#x9;waarbij Mark vervolgens hielp dit over te brengen. Zijn manier van werken
	| &#x9;heeft echt gezorgd voor verbinding.&quot;
.reactie-auteur - Anoniem


h3 Twijfels
p
	strong Is je relatie al fantastisch?
	br
	| Dan brengt dit je nóg dichter bij elkaar.
p
	strong Houd geld je tegen om mee te doen?
	br
	| Neem dan contact met mij op - geld mag geen reden zijn om niet mee te doen!
p
	strong Twijfel je nog over deelname?
	br
	| Ik kan je helpen een keuze te maken. Ik geef je een voorproefje van Geweldloze Communicatie door het toe te passen op je twijfels. Zo krijg je inzicht en kun je beslissen of dit bij je past.
