:markdown
	Als je de [cursus](/aanbod/cursus) hebt gevolgd kun met verdiepingsdagen blijven oefenen.

	Elke verdiepingsdag heeft een specifiek thema waar je leert hoe je Geweldloze Communicatie kunt toepassen op een herkenbare sitatie in jouw leven.

	### Thema's

	**Vervelende mensen: Van oordeel naar compassie**

	Vervelende mensen: Dat zijn mensen over wie je een oordeel hebt ("vervelend"), waar je niet goed mee overwegt kunt, of waar je een bepaalde afstand bij voelt. 

	Door middel van drie rollenspellen leer je zo'n oordeel te transformeren naar compassie. Ook oefenen we met hoe je dit daadwerkelijk bij deze persoon in de praktijk kan brengen. 

	Je krijgt de oefeningen op papier mee naar huis, zodat je ook thuis nog kan oefenen met andere situaties en personen. 

	<div class="well">
		Zondag 24 april van 12:30 tot 17:00.
		<a href="/aanmelden?p=verdiepingsdag-april-2016" class="btn btn-primary btn-xs pull-right">Aanmelden</a>
	</div>

	**Stilte in de Storm: Zelfverbinding in uitdagende situaties**

	Zelfverbinding - in theorie en tijdens de les is dat goed te doen, maar hoe doe je dit met sterke emoties? Of als iemand aggresief is? Of als iemand je kwetst? Op de momenten dat je zelfverbinding het hardste nodig hebt, is deze vaardigheid ook vaak het moeilijkste toe te passen.

	In een serie oefeningen leer je hoe je rust, inzicht en kalmte kunt vinden in uitdagende situaties.
	
	<div class="well">
		Zondag 22 mei van 12:30 tot 17:00.
		<a href="/aanmelden?p=verdiepingsdag-mei-2016" class="btn btn-primary btn-xs pull-right">Aanmelden</a>
	</div>

	### Praktische informatie

	<table class="table table-striped">
		<tr><th>Voor&nbsp;wie?</th><td>Mensen met minimaal 15 uur training in Geweldloze Communicatie (Communiceren met Compassie - niveau 1)</td></tr>
		<tr><th>Kosten</th><td>&euro; 45,-</td></tr>
		<tr><th>Locatie</th><td><a href="">De Lindenberg</a><br/>Ridderstraat 27-29,<br/>Nijmegen</td></tr>
		<tr><th>Tijd</th><td>Van 12:30 tot 17:00</td></tr>
		<tr><th>Datum</th><td>**24 april**: <a href="/aanmelden?p=verdiepingsdag-april-2016">Vervelende mensen - van oordeel naar compassie.</a><br/>
		**22 mei**: <a href="/aanmelden?p=verdiepingsdag-mei-2016">Stilte in de storm - Zelfverbinding in uitdagende situaties</a></td></tr>
		<tr><th>Aanmelden</th><td>Klik op een link hierboven</td></tr>
		
	</table>

	
	### Programma

	<table class="table table-striped">
		<tbody>
		<tr>
			<td>12:30</td>
			<td>Empathie *</td>
		</tr>
		<tr>
			<td>13:30</td>
			<td>Oefeningen in het thema</td>
		</tr>
		<tr>
			<td>17:00</td>
			<td>Vieren en rouwen</td>
		</tr>
		<tr>
			<td>17:30</td>
			<td>Einde</td>
		</tr>
		</tbody>
	</table>

	*) Bij "Empathie" krijg je de kans stil te staan bij wat er allemaal speelt in jouw leven. Ik heb gemerkt dat dit helpt alle onverwerkte emoties een plek te geven. Het helpt je aan te komen en meer aanwezig te zijn omdat het je rust en ruimte geeft.

	### Volgende verdiepingsdag?

	Meld je aan voor de nieuwsbrief om op de hoogte te blijven.

!= partial('../_newsletter')