:markdown
	Ik bied **team building**, **workshops** en **conflict bemiddeling** aan. Alle activiteiten zijn gebaseerd op Geweldloze Communicatie. 

	Tijdens een kennismakingsgesprek kunnen we ontdekken of ik iets kan aanbieden dat aansluit bij de wensen van het bedrijf.

	Je kunt me bereiken door een e-mail te sturen naar **[mark@levenincompassie.nl](/over/contact)** of door te bellen:

!= partial('../_callmeback.ejs',{no_inline: false})

:markdown

	## Workshops

	**Geweldloze Communicatie** biedt ook vaardigheden die kunnen worden ingezet in op de werkvloer. Denk bijvoorbeeld aan:

	* Omgaan met boze klanten: Vriendelijk blijven onder intense emoties.
	* Empatisch luisteren: Geef je klanten het gevoel dat ze écht gehoord worden.
	* Conflict bemiddeling voor managers: Hoe laat je alle neuzen één kant op wijzen?
	* Onderhandelen: Welke "JA" zit er verstopt achter een NEE?
	* Feedback geven: Hoe kun je op een verbindende manier feedback of kritiek geven?

	## Team-building

	Herken je dit: Dat je op de werkvloer niet durft uit te spreken wat je écht denkt en voelt, omdat je bang ben dat dit "ongepast" of "onprofessioneel" is?

	Ik geloof dat open communicatie met collega's leidt tot een leukere werksfeer, meer werkplezier en meer inzet. 

	In mijn workshops creeër ik een veilige omgeving waarbij iedereen op een compassievolle manier gehoord kan worden. De nadruk ligt op het bevorderen van begrip, verbinding en betrokkenheid door te werken met échte situaties van de deelnemers. Iedereen krijgt de kans te vertellen hoe het is om als
	persoon in het team te zitten.

	## Conflict bemiddeling

	Voel je wel eens spanning op de werkvloer door onuitgesproken frustraties tussen collega's of afdelingen?

	Ik geloof dat elk verwijt, frustratie, spanning een mooie onderliggende reden heeft. In een conflict is het vaak moeilijk die onderliggende reden te horen. Ik help door in een veilige, onpartijdige omgeving elke vervelende boodschap te vertalen naar iets moois. Dit creeërt ruimte, begrip, compassie en verbinding. 

	Zodra het lukt om compassie voor elkaar te voelen, help ik met het maken van concrete afspraken die zorgen dat mensen weer fijn samen werken 