a(href="/cursus/") &larr; Terug naar overzicht
a.pull-right(href="/cursus/2-zelfverbinding-en-gevoelens") Les 2: Zelfverbinding en gevoelens &rarr;
:markdown
	### Introductie

	Communiceren met Compassie is gebaseerd op Geweldloze Communicatie. Dit communicatiemodel bestaat uit vier stappen. Elke stap heeft zo zijn valkuilen. Om onderscheid te maken tussen de vier stappen en hun valkuilen gebruiken we twee dieren:

	* **De Giraffe** staat voor Geweldloze Communicatie, oftewel communicatie die verbinding schept.
	* **De Jakhals** staat voor de valkuilen van Geweldloze Communicatie, oftewel communicatie die verbinding verbreekt. 

	Elke week leer je iets over de **Giraffe** (hoe schep je verbinding?) en iets over de **Jakhals** (wat verbreekt de verbinding?). 

	Alhoewel Geweldloze Communicatie een concrete stap-voor-stap methode is, kan het houterig overkomen als je de stappen mechanisch toepast. Daarom is **bewustwording** een essentieel onderdeel van de methode. Dit helpt jou van intellectueel naar gevoelsmatig begrip te gaan. Ik leen technieken uit de mindfulness om bewust worden van jouw lichaam, jouw gevoelens en jouw denk- en communicatiegewoontes. 

	Tot slot heeft Geweldloze Communicatie een aantal **uitgangspunten**. Deze uitganspunten helpen je met een ander perspectief naar de wereld te kijken. Ik geef je elke week korte zinnen om je te herinneren aan een paar nieuwe uitganspunten.

	Samengevat leer je dus elke week:

	* [Uitgangspunten](#uitgangspunten)
	* [Iets over de Jakhals](#jakhals-denken-in-goed-of-fout)
	* [Iets over de Giraffe](#giraffe-behoeftes)
	* [Bewustwording](#bewustwording)
	* [Huiswerk](#huiswerk)

	### Uitgangspunten

	Deze week staat in het teken van behoeftes:
	
	* **Het enige wat iemand ooit doet, is zijn/haar best om zijn/haar behoeftes te vervullen.** <br/>Mensen zijn inherent goed en willen van nature elkaars leven verrijken.<br/><br/>
	* **Behoeftes zijn nooit in conflict met elkaar.**<br/>Is er wel een conflict? Dan zijn het strategieën!<br/><br/>
	* **Alle gevoelens komen voort uit behoeftes.**<br/>Alternatief: **IK voel ... want IK heb behoefte aan ...**<br/>Alternatief: **JIJ voelt ... want JIJ hebt behoefte aan...**


	### Jakhals: Denken in goed of fout

	We hebben geleerd te denken in goed of fout. Dat hebben we geleerd op school, van onze ouders en vanuit de samenleving. Of misschien zit het gewoon in de mens om zo te denken. Ik wil je geen theorie vertellen waarom we in goed of fout denken, ik wil alleen constateren dat we het veel doen.

	Bijvoorbeeld de gedachte dat als iemand iets *goed* doet, hij of zij een beloning verdiend. En doe je iets fout? Dan krijg je straf. Of het evalueren van mensen: hoe goed of fout is diegene bezig? 

	Ik zie deze manier van denken bijvoorbeeld terug in:

	* Kinderen krijgen straf als ze iets verkeerd doen, en een beloning als ze iets goed doen.
	* Criminelen hebben iets verkeerd gedaan en verdienen daarom celstraf.
	* Op het werk worden je prestaties geëvalueerd: doe je het goed dan krijg je promotie, doe je het slecht dan wordt je ontslagen.
	* Op school krijgen kinderen cijfers voor hun prestaties.
	* Bij mijzelf: Ben ik een goed vriendje? Heb ik een goede les gegeven? En nog veel vaker...

	**Let op:** Ik zeg niet dat goed of fout denken *fout* is. Dat zou op zichzelf een jakhals zijn! Ik merk wél dat denken in goed en fout de verbinding met behoeftes verbreekt. Het zorgt bij mij voor spanning en innerlijke onrust om de wereld te zien met een perspectief van goed of fout.

	Geweldloze Communicatie biedt een alternatief op deze manier van denken. In plaats van ons af te vragen: *"Wie heeft er gelijk?"* kun je je afvragen: *"Waar heeft iedereen behoefte aan?"*. Deze manier denkt niet in winnen of verliezen, maar hoe iedereen kan winnen.

	### Giraffe: Behoeftes

	Behoeftes zijn het belangrijkste onderdeel van Geweldloze Communicatie. Daarom zijn we hier meteen in les 1 mee begonnen.

	Geweldloze Communicatie stelt dat elk mens dezelfde universele, abstracte behoeftes heeft. Dat kunnen fysieke behoeftes zijn zoals onderdak, veiligheid, voedsel, maar ook emotionele behoeftes zoals erkenning, plezier of spelen.

	Behoeftes zijn universeel want elk mens heeft ze. Behoeftes zijn ook abstract omdat ze niks zeggen over *hoe* je ze vervult. De specifieke invulling van een behoefte noem je een **strategie**.

	Bijvoorbeeld: Mensen hebben behoefte aan *ontspanning*. Er zijn wel duizend manieren om die behoefte te vervullen: een film kijken op de bank, een wandeling in het park, een dutje doen, etc.

	Omdat behoeftes abstract zijn kan hier nooit conflict over ontstaan. Dat betekent dat conflicten **per definitie** altijd op het niveau van strategieën onstaan. Met voldoende tijd en vindingrijkheid is het altijd mogelijk een strategie te vinden die alle behoeftes van iedereen vervult. Dat is ook meteen de moeilijkheid van Geweldloze Communicatie: Soms heb je niet de tijd of energie om zo'n strategie te zoeken.

	Mensen worden gemotiveerd door behoeftes. Alles wat iemand ooit doet kun je terugleiden tot een behoefte. Je kunt deze motivatie misschien voorstellen als een soort *levensenergie*. Behoeftes zijn er om te vertellen wat je nodig hebt en hoe je je leven kunt verrijken. Behoeftes laten je dit weten in de vorm van gevoelens. Oftewel: Gevoelens zijn de boodschappers van jouw behoeftes. 

	Omdat het jouw behoeftes zijn, ben je ook zelf verantwoordelijk voor je gevoel:

	* IK voel want IK heb behoefte aan...
	* JIJ voelt want JIJ hebt behoefte aan...

	De ander kan weliswaar de *aanleiding* zijn voor een gevoel, maar de *oorzaak* is altijd één van je behoeftes.

	### Bewustwording
	
	Oefen met bewust worden van behoeftes. Vraag jezelf af:
	
	* Waar heeft iemand behoefte aan? (Onvervulde behoeftes)
	* Welke behoeftes zijn er nu vervuld?

	Het kan goed zijn dat er meerdere behoeftes zijn - je hoeft het niet te reduceren tot één behoefte!

	Deze vragen kun je gedurende de dag toepassen:
	
	* Bij jezelf
	* In gesprek met de ander. (Relatie, collega, kassière van de supermarkt, etc)
	* Als je kijkt naar een TV-serie. (Drama- en soapseries zijn het leukst!)
	* Als je een krantenartikel of facebookbericht leest. (Zeker bij opinie, emotie of conflict)

	Als je het moeilijk vind behoeftes te bedenken, pak dan de kaart en kies 3 of 4 behoeftes uit. Kijk of je deze tegenkomt in het dagelijks leven.

	### Huiswerk
	
	Kies een tijdstip waarop je elke dag een korte oefening van 5 minuten kunt doen. Bijvoorbeeld: Als je op staat, voordat je begint met avondeten, of voordat je gaat slapen. Pak de kaart met gevoelens en behoeftes. 

	1. Kies een woord dat past bij je gevoel. 
	2. Waar voel je dit in je lichaam? Hoe voelt dat? Zwaar, licht, vol, leeg, groot, klein, drukkend, bruisend, zuigend, tintelend? Het kan goed dat je meerdere gevoelens hebt, of dat je gevoelens veranderen terwijl je deze oefening doet!
	3. Kies een woord dat past bij je behoeftes van dit moment. 
	4. Vat voor jezelf samen: *"Ik voel me ... omdat ik behoefte heb aan ..."*

	Naar mate je dit meer doet, zul je meer en meer bekend worden met de lijst van behoeftes. Je leert ook steeds beter te nuanceren tussen verschillende behoeftes. 

hr
a(href="/cursus/") &larr; Terug naar overzicht
a.pull-right(href="/cursus/2-zelfverbinding-en-gevoelens") Les 2: Zelfverbinding en gevoelens &rarr;