a(href="/cursus/1-behoeftes") &larr; Les 1: Introductie: Wat zijn behoeftes?
a.pull-right(href="/cursus/3-de-jakhals") Les 3: De Jakhals &rarr;
:markdown
	### Uitgangspunten

	* **Gevoelens zijn de boodschapper van jouw behoeftes**
		* Oftewel: *Gevoelens zijn een kompas voor wat het leven nodig heeft.*
		* Don't shoot the messenger: behoeftes horen bij het leven.
		* Gevoelens negeren, onderdrukken, veranderen heeft weinig zin: de onderliggende behoefte blijft bestaan en zal je gevoelens blijven sturen.<br/><br/>
	* **Er is verschil tussen gevoelens *benoemen* en de gevoelstoon *voelen* **<br/>Als je merkt dat je minder (zelf)verbinding voelt, richt je dan meer op de gevoelstoon voelen.<br/><br/>
	* **Over puur gevoel is geen discussie mogelijk**: <br/>Een puur gevoel zegt niets over de situatie.<br/><br/>
	* **Verbind eerst met jezelf, dan met de ander**<br/>

	### De Giraffe: Gevoelens als kompas

	Gevoelens zijn zowel mijn kompas als mijn innerlijke oceaan.

	Gevoelens zijn mijn kompas omdat ze de boodschappers zijn van mijn behoeftes. Mijn gevoelens vertellen me welke behoeftes vervuld zijn (positieve gevoelens) en welke behoeftes onvervuld zijn (negatieve gevoelens). 

	Ik kan gevoelens labelen met woorden zoals: boos, verdrietig, vrolijk, moedeloos, etc.

	Maar mijn gevoelens zijn méér dan het label. Het label is eigenlijk niet meer dan een afkorting of samenvatting van een hele wereld aan sensaties. Die wereld van sensaties noem ik *"mijn innerlijke oceaan"* of mijn gevoelstoon. 

	<div class="alert alert-warning">Er is verschil tussen je gevoel **benoemen** en je gevoelstoon **voelen**</div>

	Net als een goede wijn kun je ook gevoel fijnproeven: Je kunt zeggen dat je een Merlot uit 2012 drinkt, maar je kunt ook zeggen dat je een zachte smaak proeft, met boventonen van kastanje en perzik en een scherpe afdronk. Okay - ik ben geen echte wijn fijnproever, want ik heb nooit geleerd die nuances te proeven. Maar ik heb wel geleerd een gevoelens fijnproever te zijn.

	Hoe wordt je een gevoelens fijnproever? Door contact te maken met je gevoeltoon - die innerlijke oceaan van sensaties vol nuances en smaak. Onderaan deze pagina staat een meditatie (oefening in aandacht richten) om je gevoelstoon op te merken.

	**Zelfverbinding**<br/>
	Zelfverbinding betekent dat je weet wat je voelt en wat je behoefte is. Dat bestaat in verschillende gradaties. Hoe meer contact je hebt met je gevoelstoon en hoe genuanceerder je jouw behoeftes weet, hoe meer zelfverbinding je hebt.

	<div class="alert alert-warning">Zelfverbinding maak je door te *"zelf-verbinden"*. Ander woorden hiervoor zijn *"inchecken"* of *"empathisch naar jezelf luisteren"* of *"zelf empathie"*.</div> 

	Zelfverbinding kun je op verschillende manieren kwijtraken. Bijvoorbeeld door een *fight*, *flight* of *freeze* reactie (vechten, vluchten of verstijven). Dat gebeurt als je in een situatie terechtkomt die sterke emoties oproept. Ik zou dat gevoel beschrijven als stress of paniek. Het kan ook gebeuren dat je verstijfd en dat je juist helemaal niks voelt. Als ik toch mijn best doe om *"niks voelen"* te omschrijven, dan voelt mijn innerljke oceaan als een dofheid of als een muur in mijn lichaam. Het kan goed dat jij deze reactie voor jou anders voelt. Of dat je andere woorden gebruikt om dit te beschrijven. 

	Een andere manier om zelfverbinding kwijt te raken komt door onoplettendheid. Ik ben zo bezig met bijvoorbeeld werken, nadenken, praten, discussieren, sporten, etc dat ik niet meer weet hoe ik me voel en wat ik nodig heb. Een groot gedeelte van de dag handel ik op automatische piloot en ben ik niet mindful. De bewustwordingsopdracht en oefening van deze week helpen je meer zelfverbinding te vinden.

	**Gevoelens en empathisch luisteren**<br/>
	Ik geloof dat mensen van nature een empathisch vermogen hebben. Zonder dat je iets hoeft te doen, leef je automatisch mee met de ander. Dat heeft een voordeel en een nadeel.

	Het voordeel is dat je door dit empathisch vermogen soms heel nauwkeurig het gevoel van de ander kan beschrijven. 

	<div class="alert alert-warning">Je kunt empathisch luisteren door je eigen gevoelstoon te beschrijven. Dit kun je ook verwoorden als luisteren met *instuitie*, *instinct* of *resonantie*. </div>

	Dat kan een krachtig hulpmiddel zijn om de kern te raken, omdat je gevoelstoon vaak wijst naar wat er **nu** leeft. Door eerst zelfverbinding te maken kom je in contact met je gevoeltoon en kun je makkelijker met de ander verbinden. Daarom het uitgangspunt: **Verbing eerst met jezelf, dan met de ander**. 

	Besef wel dat je een ander mens bent, met een andere gevoelswereld en andere ervaringen. Daarom is empathisch luisteren door jouw gevoelstoon te beschrijven niet perfect:
	
	1. Soms wordt een stukje van jouw eigen verhaal geraakt wat niks met de ander te maken heeft. Het kan dus goed dat de ander zich niet herkent het gevoel dat je gokt!
	2. Iedereen heeft een andere manier om zijn innerlijke oceaan te beschrijven. Sommige gebruiken gevoelswoorden, sommige lichaamssensaties, sommige beelden, metaforen of zinnen. Jouw  manier van gevoelens beschrijven wordt niet altijd begrepen door de ander. 

	Het empathisch vermogen heeft ook een nadeel. Bijvoorbeeld als je word herinnert aan een situatie waar je zelf nog mee zit. Een typische reactie is: *"Dat heb ik ook..."*. Of het wordt een wedstrijdje in ellende: *"Dat is nog niks, ik had laatst..."*.  Er komen gevoelens naar boven die je zelf geen plek hebt gegeven. Dan schiet je snel van de luister-rol naar de spreker-rol. Voordat je weer kunt luisteren heb je dan zelf empathie nodig. Dit kun je krijgen als iemand empathisch naar je luistert, of als je zelfverbinding maakt. 

	### De Jakhals: Pseudo-gevoelens

	Je kunt gevoelens observeren en je kunt gevoelens interpreteren. Als je gevoelens observeert dan beschrijf je jouw innerlijke oceaan. Als je gevoelens interpreteert, dan zeg je iets over de situatie. Dat noem je een pseudo-gevoel. Bijvoorbeeld:

	* Ik voel me verlaten (situatie: de ander verlaat je)
	* Ik voel me bedregid (situatie: de ander bedreigt je)
	* Ik voel dat jij boos op me bent (situatie: de ander voelt zich boos)

	Als iemand zegt *"Ik voel dat jij..."* dan bedoelt diegene eigenlijk *"Ik denk dat jij…"* of *"Ik stel me voor dat jij…"* of *"Ik fantaseer dat jij..."*. Dat zijn allemaal interpretaties van wat er gebeurd. Het is dan onduidelijk wat de spreker graag wil.

	Als je zegt: *"Ik voel dat jij boos op me bent"* dan kan er vanalles aan de hand zijn:

	* Wil je graag ontdekken wat je zélf voelt en nodig hebt? (Rol: Spreken. Behoefte aan empathie)
	* Wil je graag verbinding maken door te controleren of een interpretatie klopt of niet? Dat noem ik een *"reality check"* verzoek. (Rol: Spreken. Behoefte: Verbinding)
	* Wil je graag naar iemand luisteren? Vraag dan *"Voel je je boos?"* - dan is het een vraag in plaats van een bewering. (Rol: Luisteren)

	**Tip**: Als je iemand hoort spreken in pseudo-gevoel, ga diegene dan niet verbeteren. De kans is groot dat diegene geen behoefte heeft aan leren, maar behoefte heeft aan iets anders. Hier kun je achter komen door empathisch te luisteren. Je kunt een pseudo-gevoel dan vertalen naar een *observatie* en *gevoel*. Bijvoorbeeld: *"Als je ziet dat ik roep (observatie), ben je bang (gevoel) omdat je graag verbinding (behoefte) wil?"*. Of je kunt helpen met de reality check: *"**Denk jij** dat ik boos op je ben?"*

	**Hoe houd je gevoelens en pseudo-gevoelens uit elkaar?**<br/>
	De ultieme test is altijd: 

	* Schept het verbinding? Dan is het een gevoel. 
	* Schept het afstand? Dan is het een pseudo-gevoel. 

	Dat is soms moeilijk te voorspellen. Daarom ken ik een regeltje dat kan helpen. Het regeltje werkt niet als je op zoek gaat naar goede woorden en verkeerde woorden. Omdat iedereen anders werkt is het namelijk onmogelijk objectief vast te stellen welke woorden er wél en niet werken. Het regeltje geeft wel wat houvast. 
	
	De regel is: **Over puur gevoel is geen discussie mogelijk**. Of met ander woorden: *"Kan iemand er anders over denken?"*

	Ik zal de regel een paar keer toepassen om te laten zien hoe deze werkt:

	1. Ik voel me verlaten
	2. Discussie: Maar ik heb je helemaal niet verlaten!
	3. Conclusie: Pseudo-gevoel


	1. Ik voel me alleen
	2. Discussie: Maar ik ben toch bij je?
	3. Conclusie: Pseudo-gevoel


	1. Ik voel me eenzaam
	2. Discussie: ...? 
	3. Conclusie: Gevoel

	In mijn ervaring horen veel mensen het woord *"alleen"* als gevoel en niet als pseudo-gevoel. Ze begrijpen dat het iets zegt over de innerlijke oceaan, en niet over de situatie. Dat laat meteen zien dat deze regel niet perfect is. 

	### Bewustwording: Zelfverbinding

	Probeer gedurende de dag bewust te zijn:

	**Hoe hoog is jouw zelfverbinding?**<br/>
	Weet je wat je voelt en waar je behoefte aan hebt? Met hoeveel detail en nuance ben je je bewust van je innerlijke oceaan?
		
	**Hoe hoog is jouw luistercijfer?**<br/>
	Het luistercijfer is hoeveel ruimte je voelt om naar iemand te luisteren. Dat voelt als ruimte, rust of nieuwsgierigheid. Het kan best zo zijn dat je een hoog niveau hebt van zelfverbinding, maar een laag luistercijfer. Dat gebeurt bijvoorbeeld als je vol zit in een emotie.

	### Huiswerk: Zelfverbinding Meditatie

	Zelfverbinding maak je door empathisch naar jezelf te luisteren. Dat kan met de vier stappen. Je hebt verschillende variaties. In deze variatie ligt de nadruk op contact maken met je gevoelstoon.

	**Stappen**

	1. **Timeout**: Haal adem en voel je lichaam.
	2. **Observatie**: Benoem wat er gebeurt
	3. **Gevoel**: Maak contact met je gevoelstoon
	4. **Behoefte**: Koppel je gevoelstoon aan een behoefte.
		
	**1. Timeout: Onderbreek de automatische piloot**<br/>
	Wat een paradox: Om op te merken dat je geen zelfverbinding meer hebt, moet je zelfverbinding hebben. Een beetje zoals: Wat kwam er eerder, het kip of het ei? 

	In dit geval is het antwoord: Soms vraag je je spontaan af: *"Hoe gaat het eigenlijk met mij?"*. Als je die momenten gebruikt om zelfverbinding te maken zul je steeds sneller en vaker bewust worden voor de mate van zelfverbinding. Het is alsof je op de achtergrond altijd een soort onderbuikgevoel hebt dat je een seintje geeft als je zelfverbinding verliest. 

	Begin eerst met een timeout: Stop met wat je aan het doen bent.

	* Haal een keer bewust adem.
		* Je mag zuchten of een keer diep ademhalen als dat helpt.
	* Voel de fysieke senstaties in je lichaam. 
		* Ontspan heel je lichaam.
		* Laat je schouders hangen.
		* Ontspan je kaken.

	**2. Observatie: Benoem wat er gebeurt**<br/>
	Benoem steeds in één woord wat er in je omgaat

	* Geluiden: Wat hoor je allemaal? Zijn er geluiden die je afleiden? Benoem elk geluid dat opvalt met één woord.
	* Gedachtes: Denk je nu ergens aan? Is er iets wat je nu bezig houd?  Benoem elke gedachte die nu erg aanwezig is met één woord. 
	* Gevoelens: Zijn er fysieke senstaties erg aanwezig? Heb je pijn, ongemak of andere afleidingen? Voel je een emotie? Benoem elk van deze gevoelens met één woord.

	Probeer de geluiden, gedachtes en gevoelens zoveel mogelijk in observatie-taal te benoemen, bijvoorbeeld:

	* *"Een hard geluid van een boormachine"* in plaats van *"een irritante buurman"*
	* *"Ik denk aan een gesprek van vanochtend"* in plaats van *"wat een gezeik"*
	* *"Ik voel me bang"* in plaats van *"Ik voel me bedreigd"*

	**3. Gevoelens**<br/>
	Zoom nu in op je gevoelstoon. Dan kijk je verder dan het label en ga je fijnproeven.  Er zijn twee manieren om in contact te komen met je gevoelstoon. Het kan even duren voordat dit lukt. Als je geduldig blijft oefenen lukt het op den duur vanzelf.

	1. Via jouw lichaam: Gevoelens als sensaties
		* Begin bij fysieke gewaarwordingen die veroorzaakt worden door buitenaf (zoals aanraking met de stoel, honger in je buik, pijn in je rug, kriebel door je trui) 
		* Richt je aandacht vervolgens op je gevoelens: zij spreken dezelfde taal als fysieke gewaarwordingen maar zijn vaak wat vager en meer op de achtergrond. Gevoelens kunnen echter net als fysieke gewaarwordingen een locatie hebben, tintelen, zwaar zijn, licht zijn, groot zijn, klein zijn, bruisen, drukken, duwen, etc.
	2. Via jouw innerlijke stem en beelden: Gevoelens als metafoor.
		* Richt je aandacht om je innerlijke stem (wat je denkt) en innerlijke beelden (wat je voor je ziet). 
		* Ben je ergens over aan het nadenken? 
			* Zo ja, benoem het in een korte zin, bijvoorbeeld: "Ik denk aan een gesprek van eerder". Je gaat dus niet in op de inhoud van de gedachte.
			* Zo nee, dan kun je luisteren naar innerlijke stilte of kijken naar je innerlijke verte. Je kunt ook naar werkelijke stilte luisteren, of naar het werkelijke donker of licht van je gesloten ogen kijken.
		* Terwijl je observeert wat er in je omgaat, kijk of er een beeld of zin in je opkomt die beschrijft hoe je je voelt. Bijvoorbeeld: *"Als een stuiterbal die heen en weer gaat"* of *"Als een klein plantje dat water nodig heeft"*.

	Het kan goed dat je meerdere gevoelens tegelijk hebt. Of dat je gevoelens steeds veranderen. Als je dit opmerkt, is dat een goed teken dat je aan het fijnproeven bent.

	**4. Behoefte**<br/>
	Wetende dat gevoelens de boodschapper zijn van je behoeftes, waar heb je behoefte aan? Voel je een neiging, een intentie of een verlangen ergens naar? Wat is op dit moment belangrijk voor je? Benoem de behoefte in één woord.

hr
a(href="/cursus/1-behoeftes") &larr; Les 1: Introductie: Wat zijn behoeftes?
a.pull-right(href="/cursus/3-de-jakhals") Les 3: De Jakhals &rarr;