a(href="/cursus/2-zelfverbinding-en-gevoelens") &larr; Les 2: Zelfverbinding &amp; gevoelens
a.pull-right(href="/cursus/4-meerdere-behoeftes-vieren") Les 4: Meerdere, gelaagde behoeftes vieren &rarr;
:markdown
	### Uitgangspunten

	- **Iedereen is verantwoordelijk voor zijn eigen gevoel.**<br/>Alhoewel de ander aanleiding kan zijn, is de oorzaak altijd een behoefte:<br/>IK voel ... want IK heb behoefte aan ..., JIJ voelt ... want JIJ hebt behoefte aan ...<br/><br/>
	- **Alles wat iemand ooit doet, is zijn of haar best om naar beste weten een behoefte te vervullen**<br/>Dat betekent ook dat *"Ik heb behoefte dat iemand anders..."* altijd een strategie is om een van jouw eigen behoeftes te vervullen!<br/><br/>
	- **Zelfverbinding komt eerst**<br/>Voordat je empathisch kunt luisteren naar iemand waar je een jakhals over hebt, moet je verbonden zijn met jezelf.<br/><br/>
	- **Verbinding komt eerst**<br/>Maak eerst verbinding voordat je iemand verbetert of uitlegt over een Jakhals.<br/><br/>

:markdown
	### De Jakhals - Wat is de jakhals?
	
	Een Jakhals staat symbool voor taal die de verbinding vaak verbreekt.

	Stel je voor: Iemand komt 15 minuten te laat terwijl je een afspraak hebt gemaakt (observatie).

	Vanuit de Jakhals kun je op allerlei manieren reageren:

	1. **Oordelen**: *"Het is echt niet okay dat je te laat bent gekomen!"*
	2. **Eisen of Moeten**: *"Je moet gewoon op tijd komen!"*
	3. **Beleren**: *"Iedereen weet dat het belangrijk is om op tijd te komen!"*
	4. **Moraliserend preken**: *"Als je een beetje fatsoen hebt, kom je gewoon op tijd!"*
	5. **Adviseren of oplossen**: *"Misschien moet je de volgende keer wat eerder vertrekken"*
	6. **Intepreteren**: *"Je hebt ook totaal geen respect voor mij door zo te laat te komen"*
	7. **"Ik voel dat jij...."**: *"Als je te laat komt, voel ik dat jij geen respect voor mij hebt"*
	8. **Generaliseren**: *"Je komt ook altijd te laat!"*
	9. **Analyse of diagnose**: *"Je bent gewoon een chaotisch persoon."*
	10. **Belonen**: *"Als je de volgende keer op tijd komt, haal ik een lekker koekje"*
	11. **Straffen**: *"Omdat je te laat bent, krijg je nu geen koekje"*
	12. **Beschamen**: *"Ga maar voor de groep staan en iedereen vertellen wat er nou zo belangrijk was dat *je te laat komt"
	13. **Erbij neerleggen**: *"Ach, laat maar zitten, het is niet erg, ik ben toch niet zo belangrijk."*
	14. **Rebels worden**: *"Nou, als dat zo gaat, kom ik de volgende keer ook te laat!"*
	15. **Vergelijken**: *"De rest komt ook op tijd, waarom ben jij dan te laat?"*
	15. **Spreken in "jij" als je "ik" bedoeld**:<br/>*"Je kent dat wel, dat je dat vervelend vind als iemand te laat komt."*<br/>(vergelijk met: *"Ik ken dat wel, dat ik het vervelend vind als iemand te laat komt"*)
	16. **Verantwoordelijkheid voor mijn behoeftes afschuiven op een algemene wet**:<br/> *"Je weet dat op tijd komen gewoon belangrijk is."*
	17. **Verantwoordelijkheid voor mijn behoeftes afschuiven op de ander**:<br/> *"Ik vind het niet prettig dat jij te laat komt"*
	18. **Verantwoordelijkheid voor mijn behoeftes afschuiven op de ander**:<br/> *"Ik voel me gekwetst dat jij te laat komt"*
	19. **Verantwoordelijkheid voor mijn behoeftes afschuiven op de ander**:<br/> *"Ik ben teleurgesteld doordat jij te laat komt"*

	Deze reacties kun je samenvatten in een aantal categorieën:

	- **Oordelen, Beleren, Preken**: Denken in goed en fout
	- **Adviseren, Oplossen, Eisen, Moeten**: Slechts één strategie voorstellen om iets te doen.
	- **Interpreteren, Analyseren, Diagnostiseren, Generaliseren**: Iets over de ander vertellen.
	- **Straffen (b.v. Beschamen) en belonen**
	- **Erbij neerlegen of Rebels worden**
	- **Geen verantwoordelijk voor jouw eigen behoeftes nemen**: Door ze bij de ander of een algemene wet te leggen.

	Er zijn ook een woorden waar je op kunt letten:

	- Vertaal "moeten" naar "kiezen".
	- Vertaal "jij" naar "ik" als je het over jouw eigen ervaring hebt.
	- "Ik voel dat jij" vertalen naar een obseratie en gevoel (zie vorige les)

	Ik heb gemerkt dat sommigen dit vertalen naar: *"Ah, dus jakhalzen zijn slecht en die moet ik vermijden!"*. De ironie natuurijk is dat *"slecht"* en *"moeten"* zelf jakhalzen zijn! Hoe ontsnap je deze viceuze cirkel? Door verliefd te worden op de Jakhals. 

	Een Giraffe weet dat als je een Jakhals wegstuurt, de jakhals steeds harder en vaker terugkomt, totdat de jakhals gehoord wordt. Jakhalzen zijn welliswaar wat klunzing omdat ze verbinding verbreken, maar wijzen je heel duidelijk naar wat er leeft in jouzelf. Dat doen ze vaak veel duidelijker dan de Giraffe. Toegegeven, de manier waarop Jakhalzen je vertellen wat je nodig hebt kan soms voor heel wat ellende en pijn zorgen. Dat mag je als Giraffe best vervelend vinden. Maar in plaats van te denken *"Jakhalzen zijn slecht, waarom ben ik zo'n slecht persoon?"* kun je kiezen voor zelf-verbinding: empathisch luisteren naar jezelf. Zodra je een jakhals betrapt, weet je dat er nu een kans is om iets uit te pluizen. Om in contact met jezelf te komen, om te leren wat je nodig hebt en hoe je je leven kan verrijken. 

	Nog een opmerking over de woorden *gekwetst*, *teleurgesteld*, *schuldig*: Het zijn allemaal gevoels-woorden, maar ze impliceren ook een verwachting van de ander. Dat kan voor afstand zorgen als je het gevoel koppelt aan een observatie en niet aan een behoefte. In de bovenstaade voorbeelden is werd maar één observatie genoemd: je kwam te laat. Als je maar één strategie hebt om de onderliggende behoefte te vervullen (orde, structuur, flow), maak je jezelf afhankelijk van de ander. Je bent je dan niet bewust voor de duizend andere manieren om jouw behoeftes te vervullen. Dan neem je geen verantwoordelijkheid voor jezelf en dat is een beknellende positie voor zowel jou als de ander. De ander kan dan snel denken: *"Ik ben de oorzaak van jouw slechte gevoel, en nu moet ik iets doen (wat ik misschien zelf niet wil of kan)"*. 

	Bovenstaande voorbeelden verbreken verbinding met de ander. Dit noem je een Jakhals naar buiten. Je kunt ook verbinding met jezelf verbreken: een Jakhals naar binnen. 

	Bijvoorbeeld:

	1. **Zelf veroordeling**: *"Ik maak ook geen goede afspraken, ik ben hartstikke onduidelijk."*
	2. **Eisen of Moeten**: *"Ik moet me hier niet druk over maken!"*
	3. **Moraliserend preken**: *"Het is goed om mensen te vergeven, het heeft geen zin om boos te *worden."
	4. **Adviseren of oplossen**: *"Ik kan de volgende keer zelf later vertrekken voor de afspraak."*
	5. **Intepreteren**: *"Ik ben vast niet belangrijk voor de ander"*
	6. **Generaliseren**: *"Ik zit ook altijd te wachten op de ander."*
	7. **Analyse of diagnose**: *"Ik heb gewoon te hoge verwachtingen van mensen."*
	8. **Schaamte**: *"Wat ben ik toch een sukkel dat ik te laat komen zo erg vind..."*
	9. **Schuldgevoel**: *"De ander vind het vast niet fijn dat ik nu boos word..."*
	10. **Erbij neerleggen**: *"Ach, laat maar zitten, het is niet erg, ik ben toch niet zo belangrijk."*
	11. **Verantwoordelijkheid voor mijn behoeftes afschuiven op iets algemeens**: *"Dat overkomt mij *weer, ik heb ook altijd pech!"

	### De Giraffe - Jakhalzen ontwapenen

	Zoals de Jakhals verbinding verbreekt, zo schept de Giraffe juist verbinding. Dat geeft in totaal vier manieren om te luisteren:

	*"Ik ben zo teleurgesteld dat je weer te laat bent...."*


table.table.table-striped
	tr
		td Antwoord:
		th Buiten
		th Binnen
	tr
		th Jakhals
		td 1. "Je had ook wel wat duidelijker mogen zijn!"
		td 2. "Wat onaardig van me dat ik steeds zo laat ben."
	tr
		th Giraffe
		td 4. "Voel je je boos omdat je behoefte hebt aan structuur?"
		td 3. "Ik voel me verdrietig omdat mijn behoefte aan bijdragen niet is vervuld."

:markdown
	Als je kijkt naar de nummers zit er een logische volgorde in:

	* Je eerste, pure, rauwe reactie is vaak in de vorm van een Jakhals naar buiten (1) of binnen (2).
	* Voordat je kunt verbinden met de ander, moet je eerst zelfverbinding maken: Dat is empathisch luisteren naar binnen (3).
	* Zodra je helderheid hebt over jouw eigen behoeftes, kun je jouw oordelen vertalen en ook de behoefte van de ander ontdekken (4).

	**Stap 1 en 2: Ongecensureerd Jakhalzen**

	Ik heb gemerkt dat veel mensen niet graag luisteren naar hun Jakhals. Ze veroordelen de Jakhals, negeren de Jakhals of bagatelliseren het. 

	Geef jezelf daarom eerst toestemming om de Jakhals helemaal ongecensureerd los te laten. Hierdoor kom je vaak sneller in contact met de behoefte waar de Jakhals voor spreekt.

	**Stap 3: Giraffe naar binnen: Zelfverbinding**

	1. Begin met een pauze: let op je adem en lichaam
	2. Maak contact met je gevoelstoon (zie de oefening van vorige week)
	3. Ga op zoek naar gevoelens en behoeftes. Wat wil de Jakhals je zeggen?

	**Tips:**

	- *"Ik heb behoefte dat jij ..."* is een strategie, want behoeftes gaan nooit over de ander.
	- Voel je je schuldig? Dan heb je vaak te maken met twee behoeftes:
		1. Wat **had je moeten** doen? Welke behoefte heb je nu **niet** vervuld?
		2. Wat heb je werkelijk gedaan? Welke behoefte heeft dat vervuld? Kun je die behoefte ook mooi vinden?

	Ga hiermee door tot je luistercijfer voldoende is: voel je je niet schuldig? Heb je ruimte om te luisteren? Zie ook het huiswerk voor deze les.

	Zelfverbinding helpt om tot rust te komen... maar je kunt nog steeds rondlopen met de gedachte dat iemand anders een "slecht" persoon is. Dat kan voor afstand zorgen. Zodra je de mooie behoefte achter iemands "lelijke" woorden kunt horen, ontstaat er weer verbinding.

	**Step 4: Giraffe naar buiten: Empathisch luisteren.**

	Allereerst: Je hebt **altijd** de keuze tussen eerlijk spreken en empathisch luisteren. In sommige situaties werkt het ontzettend goed om eerlijk te spreken. In de meeste gevallen vind de ander het moeilijk jouw woorden met empathie te horen. Als iemand spreekt met een Jakhals betekent dat vaak dat diegene nog geen helderheid heeft over zijn eigen gevoelens en behoeftes.

	Met empathisch luisteren bereik je twee dingen:

	1. Je kunt jouw ideeën (de ander is "stom") transformeren naar begrip als je mooie behoefte achter iemands "lelijke" jakhals ontdekt.
	2. Je geeft iemand inzicht en helderheid over zijn eigen gevoelens en behoeftes. Je helpt iemand ook verantwoordelijkheid te nemen voor zijn eigen behoeftes, in plaats van in een slachtofferrol te zitten.

	Bij empathisch luisteren volg je iemand stapje voor stapje in zijn wereld. Daarbij vertaal je *heel langzaam* de jakhals naar gevoelens en behoeftes. Soms ben jij in het begin de oorzaak van iemands gevoel: dan ben jij de enige strategie om andermans behoefte te vervullen. Als je langer luistert, komen er vanzelf meer strategieën boven water om de behoefte te vervullen. Zo neemt iemand langzaam verantwoordelijkheid voor zijn eigen behoeftes.

	Iemand die begint met: 
	* *"Ik ben teleurgesteld omdat jij te laat bent, kun je niet op tijd komen?"* 

	eindigt dan met: 
	* *"Ik voel me onrustig als je later binnenkomt omdat ik behoefte heb aan orde en rust. Wil je met me nadenken over hoe ik meer orde en rust kan scheppen?"* 

	Dat gaat dan als volgt:

	- Jakhals: *"Ik voel me teleurgesteld dat jij te laat bent!"* 
	- Giraffe: *"Vind je het vervelend dat ik te laat ben?"* (empathie, eerst op hetzelfde niveau herhalen)
	- Jakhals: *"Ja!"* (okay, we maken verbinding...)
	- Giraffe: *"Vind je het vervelend dat ik je onderbroken heb omdat je wat rust nodig hebt?"* (empathie, raden naar observatie en die koppelen aan een behoefte)
	- Jakhals: *"Ja, ik wil gewoon de avond goed begeleiden!"* 
	- Giraffe: *"Ah... voel je je dan onrustig omdat je graag wilt bijdragen?"* (empathie, raden naar gevoeles en behoeftes)
	- Jakhals: *"Ja!"* <br/>**Let op: De Jakhals is niet meer teleurgesteld omdat ik te laat ben, maar onrustig vanwege zijn/haar eigen behoefte heeft aan bijdragen!**
	- Giraffe: *"Wat kan jou helpen om meer orde en rust te krijgen?"* (stap naar verzoek: kijken of we meerdere strategieën kunnen verzinnen om de behoefte te vervullen)
	- Jakhals: *"Nou als jij gewoon eens op tijd komt...!"* (oeps, we zijn weer terug bij af! Dan beginnen we gewoon weer opnieuw totdat het wel lukt :)

	Tips:

	- Begin met zelf-verbinding en check je luistercijfer. 
	- Herinner jezelf: *"Ik heb niks verkeerd gedaan"* of *"Iedereen is verantwoordelijk voor zijn eigen behoeftes"*
	- Vind eerst de observatie. Dit is zeker handig als iemand jou een interpretatie of generalisatie verteld!
	- Sta stil bij alle verschillende behoeftes voordat je gaat brainstormen over strategieën of verzoekjes.
	- Wees geduldig - veel mensen zijn niet gewend te praten en denken in termen van gevoelens en behoeftes.
	- Wees nog geduldiger - het is soms niet makkelijk voor iemand om een favoriete strategie los te laten en contact te maken met de onderliggende behoefte.
	- Dubbelcheck jezelf op de sneaky Giraffe: Weet je zeker dat je niet stiekem iemand aan het adviseren bent? (Jij denkt verkeerd, je moet op mijn manier denken!)

	### Bewustwording - Verbindingcijfer

	Vorige week heb je geoefent met zelfverbinding: in welke mate ben je je bewust van jouw eigen gevoelens en behoeftes?

	Deze week kun je kijken naar hoeveel verbinding je ervaart met de ander. Ben jij je bewust van de ander zijn gevoelens en behoeftes, of voel je een bepaalde afstand? 

	Het kan zijn dat je altijd een bepaalde afstand ervaart. Het kan ook zijn dat je in een gesprek plots meer afstand voelt. 

	Als je voelt, in je lichaam, dat er minder verbinding is, kun je dan een Jakhals uit de lijst herkennen?

	### Huiswerk - Jakhals dagboek
	
	Doe deze oefening elke dag. Pak een pen en papier.
	
	1. Doe de zelfverbinding oefening. Wat leeft er in je? Kun je een jakhals vinden? Schrijf de jakhals op in één zin.
		* Je mag een Jakhals naar buiten of binnen gebruiken. 
		* Als je er geen kan vinden, neem dan iemand in gedachten met wie je een afstand voelt. 
		* Of misschien een ergenis of frustratie die je hebt. 
		* Of iets waar je in je leven niet tevreden over bent. 
	2. Verwelkom de Jakhals! Geef de Jakhals de ruimte. Je mag schrijven wat in je op komt!
	3. Als je even geschreven hebt, probeer dan langzaam op zoek te gaan naar de gevoelens en behoeftes. Dat kan al schrijvende. 
	4. Voel je lichaam - kloppen de gevoelens en behoeftes? Voel je meer rust? Heb je meer helderheid?
	5. Schrijf de conclusie op: Hoe voel je je? Wat is je behoefte? Kun je een verzoek bedenken (aan jezelf of aan de ander) om voor deze behoefte te zorgen? 
	6. Lees de jakhals bij stap 1. Voel je het verschil in je lichaam?

	Als je wil, post dan de jakhals (één zin) en de giraffe (onderliggende gevoel en behoefte) op facebook.

	Vind je het lastig om een Jakhals te vertalen naar gevoelens en behoeftes? In de volgende les leer je meer vaardigheden om empathie voor jezelf en de ander te hebben!

hr
a(href="/cursus/2-zelfverbinding-en-gevoelens") &larr; Les 2: Zelfverbinding &amp; gevoelens
a.pull-right(href="/cursus/4-meerdere-behoeftes-vieren") Les 4: Meerdere, gelaagde behoeftes vieren &rarr;