a(href="/cursus/3-de-jakhals") &larr; Les 3: De Jakhals 
a.pull-right(href="/cursus/5-verzoekjes") Les 5: Verzoekjes &rarr;
:markdown
	### Uitgangspunten

	Deze week is een verdieping op behoeftes.
	
	* **Behoeftes zijn nooit in conflict met elkaar.**<br/>Is er wel een conflict? Dan zijn het strategieën!<br/><br/>
	* **Je kunt wél meerdere behoeftes tegelijk hebben.**<br/>Omdat we deze koppelen aan strategieën, is er vaak een dilemma, een keuze of een conflict.<br/><br/>
	* **Sta eerst stil bij de behoeftes voordat je over strategieën nadenkt.**<br/>Er is verschil tussen behoeftes *benoemen* en behoeftes *vieren*. Als je enkel een behoefte *benoemt*, kun je nog steeds gehecht zijn aan jouw favoriete strategie. Laat strategieën los door behoeftes te *vieren*.<br/><br/>
	* **De oplossing komt vanzelf als je jouw favoriete strategie loslaat.**<br/>Vertrouw erop dat je vanzelf inspiratie krijgt als je jouw behoeftes viert.<br/><br/>
	* **Behoeftes kunnen gelaagd zijn.**<br/>Bijvoorbeeld behoefte aan samenwerking omdat ik behoefte heb aan gezien worden omdat ik behoefte heb aan erkenning.<br/><br/>
	* **Iedereen heeft zijn eigen ritme.**<br/>Luister altijd naar de behoefte die nú leeft. Als je te snel of te langzaam bent, zal iemand zich niet gehoord voelen. Pas als de behoefte die nú leeft gehoord is, komt de volgende behoefte aan het licht.<br/>**Tip**: Probeer minder gevoelens en behoeftes te *benoemen* en meer de gevoelstoon te *voelen* en behoeftes te *vieren*.<br/><br/>
	* **Luister naar het lichaam**<br/>Het lichaam is de brug naar je gevoelens, en je gevoelens zijn de boodschapper van je behoeftes. Gebruik je lichaam als instrument om te voelen hoeveel (zelf)verbinding je ervaart.<br/><br/>

	### Jakhals: Favoriete strategie

	Omdat behoeftes abstract zijn, is het vaak makkelijker om te denken in strategieën. Strategieën zijn immers concrete invullingen.

	Het gevaar hiermee is dat je flexibiliteit verliest. Er zijn op elk moment vaak meerdere behoeftes die vervuld willen worden. Als jouw strategie maar één behoefte vervuld, kun je spanning of stress voelen in jouw lichaam. Ik hoop dat je dit zult zien als je oefent met de bewustwording van deze week!

	Soms gebruik je een behoefte-woord, maar heb je in gedachten al een invulling. Het kan dan moeilijk zijn jouw favoriete strategie los te laten. Een goed voorbeeld is de behoefte aan liefde als je een relatie hebt. Ik denk dat veel mensen kunnen zich moeilijk voorstellen dat die behoefte door iemand anders wordt vervuld. Ik denk dat meeste de strategie "liefde van mijn partner" ver boven alle andere strategieën plaatsen.

	Let dus goed op als je een behoefte hoort. Lijkt het alsof diegene moet kiezen tussen twee behoeftes? Dan is er een grote kans dat diegene gehecht is aan één favoriete strategie!

	In Geweldloze Communicatie noem je dit ook **of/of denken**. Als je denkt in strategieën, kom je namelijk snel in keuzes maken en compromissen sluiten. 

	Het alternatief is **en/en denken**. Dan probeer je jouw favoriete strategie los te laten door jouw behoeftes te vieren. Dit kan nog behoorlijk lastig zijn, want alléén het behoefte-woord benoemen werkt niet altijd. Weet je nog in les 2, over gevoelens? Daar legde ik uit over een verschil tussen gevoelens *benoemen* en de gevoelstoon *voelen*. Dit is net zo'n verschil: Je kunt behoeftes *benoemen* en behoeftes *vieren*.


	### Giraffe: Behoeftes vieren

	Geweldloze Communicatie zegt dat behoeftes *universeel* zijn. Daarmee wordt bedoelt dat alle mensen dezelfde behoeftes hebben. Echter, elk mens geeft andere betekenis aan woorden. Zeker aan abstracte woorden zoals behoeftes. Zo kan voor de een de behoefte aan "liefde" vooral verbondenheid betekenen, terwijl het voor de ander meer te maken heeft met erkenning krijgen.

	Behoeftes zijn abstract en daarmee verliezen ze soms ook hun betekenis. Wat betekenen behoeftes zoals "liefde" of "erkenning" of "balans" eigenlijk? 

	Een krachtige techniek voor zelfcompassie en empathisch luisteren heet "Behoeftes vieren". Dan stel je jezelf twee vragen:

	1. Wat betekent deze behoefte?
	2. Wat brengt deze behoefte?

	**1. Wat betekent deze behoefte?**<br/>
	Gebruik je herinnering of fantasie om te bedenken wat je doet en hoe je je voelt als de behoefte is vervuld. Je kunt je bijvoorbeeld vragen:

	* Kun je je herinneren wanneer deze behoefte is vervuld? (herinnering)
	* Waar droom je van? (fantasie) 

	Probeer de herinnering of fantasie in detail te beschrijven. Wat was de situatie? Hoe voelt je lichaam?

	**Let op:** Er is een subtiel maar belangrijk verschil met de Jakhals: Bij de Jakhals ben je gehecht aan één strategie, terwijl je hier juist allerlei strategieën verzint of herinnert.

	**Let op:** Ga nog niet op zoek naar een concrete oplossing. Dat kom je al snel bij de Jakhals van ongevraagd advies of oplossingen bedenken. In stap 4, bij het verzoek, mag je op zoek naar een concrete oplossing. Maar daarvoor moet je eerst genoeg tijd nemen voor stap 3, de behoefte!

	**2. Wat heeft deze behoefte mij gebracht?**<br/>
	Soms is er een Jakhals bij de behoefte. Dan veroordeel je jezelf dat je deze behoefte hebt. Bijvoorbeeld schaamte bij de behoefte aan liefde. Of zelfveroordeling als je behoefte hebt aan erkenning. Er zijn verschillende manieren om met deze Jakhals om te gaan. Eén manier is dat je bedenkt wat deze behoefte jouw heeft gebracht. Bijvoorbeeld: Als mijn behoefte aan erkenning is vervuld, voel ik me krachtig en krijg ik meer voor elkaar. Als ik de schoonheid van de behoefte zie, is het moeilijker deze te veroordelen.


	### Bewustwording

	Kijk of je voor jezelf kunt ontdekken dat er inderdaad vaak meerdere behoeftes aanwezig zijn. En dat behoeftes vaak gelaagd zijn!

	**Zijn er nog meer behoeftes?**<br/>
	Als je ergens spanning bij voelt, onderzoek dan of er nog meer behoeftes zijn. Spanning is vaak een indicatie dat jou vertelt dat er nog meer behoeftes zijn waar je je nog niet bewust van was.

	**Behoeftes kunnen gelaagd zijn.**<br/>
	Merk op dat als een behoefte gehoord is, er vaak een nieuwe behoefte boven water komt. Bijvoorbeeld als je empathisch luistert en je raad een gevoel en behoefte, dan kan iemand zeggen:

	> Ja inderdaad, en eigenlijk wil ik gewoon ... *(nieuwe behoefte)*

	Merk ook op hoe dat bij jezelf werkt: Vaak begint het met een jakhals. Na even zoeken vind je een behoefte. Als je die behoefte viert, komt er vaak ineens een nieuwe behoefte.


	### Huiswerk: Een keuze maken

	Veel mensen maken een lijstje met pluspunten en minpunten als ze een beslissingen maken. Het huiswerk is een variatie vanuit Geweldloze Communicatie. Je brengt éérst alle behoeftes in kaart voordat je naar een concreet verzoek (strategie) gaat. Geweldloze Communicatie gaat er vanuit dat behoeftes nooit in conflict zijn met elkaar, en dat je met voldoende tijd en creativiteit altijd tot een strategie kan komen die alle behoeftes vervult.

	Pak een pen een papier. Maak twee kolommen. Zet boven de een "Ja" en boven de ander "Nee".
	
	2. Bedenk een keuze die je moet maken. Het kan mag een kleine of grote keuze zijn. Schrijf de keuze op als ja/nee vraag. Bijvoorbeeld:
		* Zal ik een boterham met hagelslag eten?
		* Moet ik gaan sporten vanavond?
		* Zal ik op wereldreis gaan?
		* Moet ik het uitmaken met mijn partner?
	4. Maak zelf-verbinding. Zie hiervoor ook les 2.
	5. Welke stem komt er in je op? Spreekt de "ja" of de "nee" in jou?
	6. Luister empathisch naar deze stem. Wat voelt deze stem? Wat heeft deze stem nodig? Schrijf de behoeftes op papier.
	7. Merk je conflict? Bijvoorbeeld door spanning in je lichaam? Of door de gedachte *"Nee maar..."*? Dan wil de andere stem graag gehoord worden. Luister ook empathisch naar deze stem.
	8. Blijf empathisch luisteren naar de twee verschillende stemmen. Luister steeds naar de stem die het hardste roept. Je zult af en toe wisselen van stem. Ga door totdat je alle behoeftes in kaart hebt gebracht.
	9. Ben je meer tot rust gekomen? 
		* Ja: Kun je een verzoek bedenken om alle behoeftes te vervullen?
		* Nee: Eén van de stemmen is nog niet genoeg gehoord. Ga door met de behoeftes vieren.

hr
a(href="/cursus/3-de-jakhals") &larr; Les 3: De Jakhals 
a.pull-right(href="/cursus/5-verzoekjes") Les 5: Verzoekjes &rarr;
