a(href="/cursus/4-meerdere-behoeftes-vieren") &larr; Les 4: Meerdere, gelaagde behoeftes vieren
a.pull-right(href="/cursus/6-volledig-dialoog") Les 6: Volledig dialoog &rarr;
:markdown
	### Uitgangspunten

	1. **De Giraffe verzoekt [nu] [wel] [actie], [anders...].**<br/>De Jakhals eist [later] [niet] [abstract].<br/><br/>
	2. **Het enige wat iemand ooit doet, is zijn/haar best om zijn/haar behoeftes te vervullen.** <br/>Mensen zijn inherent goed en willen van nature elkaars leven verrijken.<br/><br/>
	3. **Behoeftes zijn nooit in conflict met elkaar.**<br/>Is er wel een conflict? Dan zijn het strategieën!<br/><br/>
	4. **Achter elke "nee" zit een "ja" tegen iets anders**<br/>Ook als mensen nee zeggen, komt dat vanuit een behoefte (zie punt 2). Als je empathisch luistert naar deze behoefte kun je misschien een strategie vinden die niet in conflict is (zie punt 3).<br/><br/>
	5. **Bij een "eis" weet je maar één strategie om je behoefte te vervullen, bij een verzoek meerdere.**<br/>Zodra je maar één strategie weet om je behoefte te vervullen is het een eis. Dan kun je namelijk moeilijk "nee" horen.<br/><br/>

	### Giraffe: Verzoekjes

	Verzoekjes zijn de laatste stap van de vier stappen van Geweldloze Communicatie. Ik heb gemerkt dat er zonder het verzoekje soms een bepaalde spanning kan ontstaan:

	*"Als ik vanavond alleen thuis zit, voel ik me eenzaam omdat ik gewoon behoefte heb aan gezelschap...."*

	De luisteraar kan denken dat hij of zij verantwoordelijk is voor mijn behoefte, en daardoor een bepaalde spanning voelen.

	Behoeftes benoemen geeft compassie en werkt verbindend... maar dan zit je nog steeds met een onvervulde behoefte!

	Met het verzoek ga je op zoek naar een concrete manier om je behoefte te vervullen. Daarmee is het een hele krachtige manier om je leven leuker te maken. Helaas wordt deze stap vaak vergeten.

	Een goed verzoek heeft vier kenmerken: **nu**, **wel**, **actie** en **anders...** :

table.table-condensed
	tr
		th(width="50%") Verzoek
		th(width="50%") De Jakhals
	tr.highlight-block
		th Nu
		th Later / Voor eeuwig
	tr
		td: em Wil je (nu) beloven dat je vanavond de afwas doet?
		td: em Wil je voortaan (voor eeuwig) de afwas doen?
	tr.highlight-block
		th Wel 
		th Niet
	tr
		td
			strong Wat je wél wilt
			br
			em Wil je 5 minuten naar mij luisteren in stilte?
		td
			strong Wat je niet wilt
			br
			em Wil je ophouden met die grapjes te maken?
	tr.highlight-block
		th Actie
		th Abstract
	tr
		td
			strong Observatie &amp; Uitvoerbaar
			br
			em Wil je mij een knuffel geven?
		td
			strong Bijvoorbeeld een behoefte
			br
			em Wil je lief voor mij zijn?
	tr.highlight-block
		th Anders... 
		th Eis
	tr
		td
			strong Bewust van alternatieven
			br
			em ...anders ga ik even in mijn dagboek schrijven
		td
			strong Bewust van slechts één strategie
			br
			em Nu moet je even luisteren!
hr
:markdown
	**Tip: Onderzoek hoe tijd het verschil kan maken:**

	Vergelijk de volgende twee zinnen:

	* *"Kun je nu toezeggen om de komende twee weken de afwas te doen?"*
	* *"Wil je voortaan altijd de afwas doen?"*

	Een verzoek dat tot in de eeuwigheid duurt is stukken moeilijker om "ja" tegen te zeggen dan een verzoek dat is afgebakend in de tijd.

	**Tip: Weet je even geen verzoekje?**

	Gebruik dan een van deze standaard verzoekjes:

	* In de rol van spreker, om te kijken of de boodschap goed is ontvangen: <br/>*"Wat heb je me horen zeggen?"*

	* In de rol van spreker, om empathie te vragen: <br/>*"Kun je me terugvertellen wat ik net zei?"*

	* In de rol van spreker, bij de jakhals van invullen en interpreteren:<br/>*"Ik denk..., klopt dat?"*

	* Ga naar de rol van luisteraar:<br/>*"Hoe was dat voor jou?"*

	### Jakhals: Nee horen

	Nu maak je een ontzettend mooi verzoek.... en dan zegt iemand nee!

	Als je de behoefte hebt gevierd, ben je bewust van allerlei strategieën en is het niet zo erg om nee te horen. Als je het moeilijk vind om te horen, dan is dit een teken dat je nog erg bent gehecht aan één strategie. Kies dan voor zelfverbinding om empathisch naar jezelf luisteren.

	Een "nee" hoeft niet het einde van een gesprek te zijn. Als iemand aangeeft wat hij of zij *niet* wil, dan gebeurt dat vanuit een behoefte. Alles wat iemand ooit doet is immers vanuit een mooie behoefte. Helaas schept een "nee" vaak geen verbinding omdat iemand dan niet zijn of haar behoefte vertelt. Door empathisch te luisteren kun je ontdekken wat de "ja" is achter de "nee". Welke behoefte vervuld diegene door "nee" te zeggen?

	Een negatieve "nee" ombuigen in een positieve behoefte is simpel. Je hoeft slechts door te vragen naar de reden, en vanuit daar kun je empathisch luisteren naar de gevoelens en behoeftes:

	* *"Wat heb je nodig?"*
	* *"Wat is de onderliggende reden?"*
	* Je kunt altijd een wilde gok doen: *"Heb je behoefte aan....?"*


	### Bewustwording

	* Als iemand iets verteld, maak dan eerst contact met zijn of haar gevoelens en behoeftes. Als iemand zich dan gehoord voelt, kijk of je kunt helpen een concreet verzoek te maken.

	* Als je zelf spreekt, kijk of je kunt eindigen met een verzoek.


	### Huiswerk: Verzoekjes maken

	Oefen met verzoekjes maken. Neem een situatie waar je nu mee zit, of gebruik de oefening voor zelfverbinding om te ontdekken wat je behoeftes op dit moment zijn.

	Begin met je lichaam en ademhaling te voelen. Zet dan de vier stappen:

	2. Benoem alle afleidingen met één observatie woord. Ga van buiten naar binnen: Geluiden? Ongemak in je lichaam? Gevoelens? Gedachtes?
	3. Maak contact met je gevoelstoon: Hoe omschrijf je jouw gevoel in een beeld, zin of metafoor? Hoe omschrijf je je gevoel in lichaamssensaties? (Zwaar, licht, dik, dun, groot, klein, wazig, scherp, etc..)
	4. Benoem je behoefte. Als je wilt, kun je de behoefte vieren door je af te vragen wat de behoefte voor je betekent. Kun je herinneren wanneer die was vervuld? Of kun je fantaseren wat je droom zou zijn?
	5. Maak een verzoek aan jezelf (of aan de ander) om die behoefte te vervullen:
		* **nu**: direct uitvoerbaar, niet in de toekomst of verleden
		* **wel**: vraag om wat je wél wilt, niet om wat je niet wilt
		* **actie**: een concreet uitvoerbare handeling in observatie taal
		* **anders...**: bewustzijn van een alternatief (dit kan door je behoefte te vieren, zie stap 3)

hr
a(href="/cursus/4-meerdere-behoeftes-vieren") &larr; Les 4: Meerdere, gelaagde behoeftes vieren
a.pull-right(href="/cursus/6-volledig-dialoog") Les 6: Volledig dialoog &rarr;