a(href="/cursus/5-verzoekjes") &larr; Les 5: Verzoekjes
:markdown
	### Uitgangspunten




	### Giraffe: Bewust zijn van de rol




	### Jakhals: Ongemerkt van rol wisselen



	### Bewustwording

	* Wees bewust van de rol die je kiest - kun je jezelf betrappen als je van rol wisselt?


	### Huiswerk: Verzoekjes maken


hr
a(href="/cursus/5-verzoekjes") &larr; Les 5: Verzoekjes