a(href="/cursus/") &larr; Terug naar het lesoverzicht
:markdown
	### Doel

	* Oefenen met empathisch luisteren
	* Emotionele hygiëne: helderheid, rust en inzicht in je gevoelens en behoeftes

	### Opzet

	Bel of skype met elkaar om te oefenen met empathie geven. Je doet de oefening omstebeurt.
	Reserveer 20 minuten per persoon. Dat is dus 40 minuten in totaal.

	Gebruik een timer of alarm om de tijd bij te houden. Het is namelijk makkelijk om te blijven luisteren en praten. Ik heb gemerkt dat me strict aan de tijd houden erg goed werkt om ervoor te zorgen dat ik elke week blijf bellen. In mijn ervaring wordt het vermoeiend of krijg ik tegenzin als ik langer bel dan ik vantevoren gepland heb.

	Bepaal wie er begint met luisteren en wie er begint met spreken.

	### Oefening

	De spreker mag gewoon vertellen. De luisteraar zet een timer voor 15 minuten:

	**15 minuten: Empathisch luisteren**<br/>
	Je kunt beginnen met een vraag:

	* Wat leeft er in je?
	* Hoe voel je je op dit moment?
	* Wat ligt er op je hart?
	* Hoe was je dat?

	Vanaf dat moment mag je oefenen met empathisch luisteren. 

	Tips:

	* Empathisch luisteren begint met aandacht.
	* Empathisch luisteren kan ook in stitle!
	* De standaard zin is: *"Voel je je ... omdat je behoefte hebt aan ...?"*
	* Je kunt op de kaart kijken voor gevoelens en behoeftes.
	* Je hoeft het niet "goed" te raden. Elke gok is een stap naar meer helderheid!
	* Probeer geen advies of diagnose te geven!

	Als de timer gaat zet de luisteraar een timer voor 5 minuten.

	**5 minuten: Nabespreken**<br/>
	Neem 5 minuten om na te bespreken hoe het was. Als je advies wil geven, is dit het moment. Als de luisteraar behoefte heeft om te leren kun je als spreker vertellen wat je fijn en niet fijn vond.

	**Wisselen van rol**<br/>
	Nu wissel je van rol.
