p Welkom!
p Als deelnemer van de cursus <a href="/aanbod/cursus-geweldloze-communicatie">Communiceren met Compassie</a> krijg je elke week een samenvatting van de belangrijkste punten uit de les. Hier staan ook oefeningen in die je helpen het meeste uit deze cursus te halen.

h3 Lesmateriaal
.highlight(style="padding: 20px 10px 20px 50px;")
	ol
		li: a(href="/cursus/1-behoeftes") Introductie: Wat zijn behoeftes?
		li: a(href="/cursus/2-zelfverbinding-en-gevoelens") Zelfverbinding &amp; Gevoelens
		li: a(href="/cursus/3-de-jakhals") De Jakhals
		li: a(href="/cursus/4-meerdere-behoeftes-vieren") Meerdere, gelaagde behoeftes vieren.
		li: a(href="/cursus/5-verzoekjes") Empowerment: Verzoekjes maken.
		//-li: a(href="/cursus/6-volledig-dialoog") Volledig dialoog
		li.text-muted Volledig dialoog

	p Uitleg over de 
		a(href="/cursus/empathie-buddy") empathie buddy.

	p 
		strong Wil je me helpen de cursus te verbeteren door de 
			a(href="https://docs.google.com/forms/d/1hFYtYsH4F-TyPCAyZK_6UutAwEKKGK0nHx2E8gAP11A/viewform",target="_blank") evaluatie
			|  in te vullen? Dank je wel!