style.
	h4 {
		line-height: 1em;
		margin-bottom: 15px;
	}
div.title-block
	h4 Uitnodiging
	h2 "Ontmoeting in Aandacht"
	br
:markdown
	Hoi,

	Ik ga iets nieuws proberen en wil graag dat jij erbij bent. **Ik heb jouw e-mail niet, daarom stuur ik je deze link.**
 
	Ik wil jou graag erbij hebben omdat je al ervaring hebt in inchecken, emphatisch luisteren, meditatie of iets soortgelijks. Ik wil de eerste keer graag werken met mensen die ik al ken - dat geeft mij vertrouwen dat ik jullie goed kan begeleiden.

h4 Het experiment:<br/>Wat gebeurt er als je elkaar in aandacht ontmoet?
:markdown
	Ik heb dit eerder al meegemaakt en het zorgt voor:
	
	* **Inzicht** (in jouw projecties, onbewuste patronen, etc),
	* **Plezier** (omdat het leuk is elkaars wereld te verkennen) en
	* **Verbinding** (doordat je luistert en spreekt met aandacht). 
	
	Na wat oefeningen als warming up gaan we op ontdekking met de hele groep. Je kunt jezelf of anderen betrappen op onbewuste patronen. Je wordt je bewust van jouw projecties, wanneer jij je inspant, ontspant en wanneer je hart opent en sluit.
	 
	Je mag de rauwe, ongecensureerde waarheid spreken, want *Geweldloze Communicatie* biedt veiligheid als er een conflict ontstaat. Omdat iedereen nu met aandacht luistert, zal je meer worden gezien dan in het dagelijkse leven. In tegenstelling tot een cursus gaat het niet om vaardigheden leren, maar om bewust te verkennen wat er gebeurt als je iemand ontmoet.

	#### Waar komt "Onmoeting in Aandacht" vandaan?
	
	Zoals je misschien weet geef ik al een tijd cursussen in *Geweldloze Communicatie*.  Tijdens mijn cursussen gebruik ik vaak mindfulness om deelnemers te helpen hun gevoelens moment-voor-moment te verkennen. Dat werkt vaak ontzettend goed: het wordt fascinerender, levendiger en leerzamer. We komen hierdoor sneller tot de kern. Dit effect wil ik met jou delen en breng ik nu helemaal tot leven met "Ontmoeting in Aandacht". 

	*Wat gebeurt er als mindfulness een centrale rol krijgt in plaats van een ondersteunende rol? En dat Geweldloze Communicatie nu juist ondersteunend werkt?*

h4 Ontmoeting in Aandacht = <br/>Mindfulness + Geweldloze Communicatie.
:markdown
	Verder heb ik dit ontworpen met mijn kennis, vaardigheden en ervaring in:
	
	* **Dhamma delen:** (zoals bij Wake Up, maar nu mag je wél reageren op elkaar)
	* **Circling:** (maar ik onderbouw het vanuit een ander kader)
	* **Hakomi**: Mindfulness-Centered Somatic Psychotherapy. (De nadruk ligt hier niet op persoonlijke problemen of therapie, maar juist op ontdekken wat je ervaart in een ontmoeting.)
	* **Opstellingen:** (met name de manier waarop je spreekt)
	* **Insight Dialogue**
	 
	Ligt je interesse bij een of meerdere van deze onderwerpen? Dan denk ik dat dit iets voor jou is!

	#### Praktische informatie:
	
	Ik heb twee evenementen gepland:
	
	1. **Intro Avond: Donderdag 3 december van 19:30 tot 22:00** (kosten 15 euro).<br/>We werken 2.5 uur met deze vorm om te kijken of het een succes is. Als het een succes is, kunnen we de diepte induiken met een hele dag-retraite! Je krijgt daar 15 euro korting op omdat je ook bij de intro bent geweest.<br/><br/>
	2. **Dag Retraite**: Zaterdag 12 december van 9:30 tot 17:00 (indien de intro avond een succes is)
	

	Kom je naar de intro avond? De locatie is De Lindenberg in het centrum van Nijmegen.


a.btn.btn-primary(href="/aanmelden?p=intro-ontmoeting-in-aandacht") Aanmelden kan hier
br
br
:markdown
	Groetjes,
	
	Mark

	----
	*PS. Wil je iemand meenemen? Als diegene bekent is met inchecken, empathisch luisteren, meditatie mag je de link doorsturen!*