style.
    .input-group-addon {
        border-style: none;
        background-color: transparent;
    }
    .glyphicon-ok {
        color: green;
    }
    .glyphicon-remove {
        color: red;
    }
    .submit[disabled], .submit[disabled]:hover {
        background-color: #7D7D7D;
        border-color: #7D7D7D;
        cursor: not-allowed;
    }
    .loading {
        padding-top: 100px;
        min-height: 600px;
    }

.loaded-hide.text-center.loading.well Aanmeldformulier wordt geladen...
.error-notfound(style="display:none;")
    .alert.alert-danger
        strong Aanmeldformulier voor deze activiteit bestaat niet (meer). 
        p Problemen met aanmelden? Stuur een e-mail:
    != partial('_email.ejs')
.loaded-show.well(style="display:none;")
    span Aanmelden voor:
    h3.description(style="margin-top: 0; line-height: 1em; margin-bottom: 20px;")
    .alert.alert-warning.almost-full(style="display: none;")
        | Nog maar <span class="left">...</span> plaatsen beschikbaar!
    div.full(style="display: none;")
        .alert.alert-danger
            strong Helaas, er is geen plek meer.
        p Wil je op de wachtlijst? Stuur een e-mail:
        != partial('_email.ejs')
    form(product="oefengroep",style="display: none;")
        .row
            .col-sm-6
                .form-group
                    label Voor- en achternaam:
                    .input-group
                        input.form-control.input-sm(type="text",name="name")
                        span.input-group-addon
                            i.glyphicon.glyphicon-ok.valid(style="display: none;")
                            i.glyphicon.glyphicon-remove.invalid(style="display: none;")
                .form-group
                    label E-Mail:
                    .input-group
                        input.form-control.input-sm(type="email",name="email")
                        span.input-group-addon
                            i.glyphicon.glyphicon-ok.valid(style="display: none;")
                            i.glyphicon.glyphicon-remove.invalid(style="display: none;")
                .form-group
                    label Telefoon:
                    .input-group
                        input.form-control.input-sm(type="text",name="telephone")
                        span.input-group-addon
                            i.glyphicon.glyphicon-ok.valid(style="display: none;")
                            i.glyphicon.glyphicon-remove.invalid(style="display: none;")
                .form-group
                    label Straat en huisnummer:
                    .input-group
                        input.form-control.input-sm(type="text",name="address")
                        span.input-group-addon
                            i.glyphicon.glyphicon-ok.valid(style="display: none;")
                            i.glyphicon.glyphicon-remove.invalid(style="display: none;")

                .form-group
                    label Postcode:
                    .input-group
                        input.form-control.input-sm(type="text",name="zipcode")
                        span.input-group-addon
                            i.glyphicon.glyphicon-ok.valid(style="display: none;")
                            i.glyphicon.glyphicon-remove.invalid(style="display: none;")

                .form-group
                    label Plaats:
                    .input-group
                        input.form-control.input-sm(type="text",name="city")
                        span.input-group-addon
                            i.glyphicon.glyphicon-ok.valid(style="display: none;")
                            i.glyphicon.glyphicon-remove.invalid(style="display: none;")

            .col-sm-6
                .form-group
                    label Opmerkingen:
                    textarea(name="comment",rows="4").form-control.input-sm

                .form-group
                    label Kosten:
                
                    table.table.table-condensed.table-bordered(style="margin-bottom: 0;")
                        tr
                            td Prijs per persoon:&nbsp;
                            td &euro; 
                                span.amount ...
                                span.text-muted.discount-show(style="display: none;")  - prijs met korting
                        tr 
                            td Aantal:
                            td 
                                  select(name="quantity").form-control.input-sm
                                    option(value="1") 1 persoon
                                    each i in ['2','3','4','5','6','7','8','9','10']
                                        option(value="#{i}") #{i} personen
                        tr 
                            td: strong Totaal:
                            td: strong &euro; 
                                span.total-amount

                    .alert.alert-warning.discount-show(style="display: none;") Prijs is inclusief &euro;<span class="discount">...</span> per persoon korting.
                //-.form-group
                    label Betalen via iDEAL:
                    p: select(name="issuer")#issuers.form-control.input-sm: option Kies een bank
                    .panel(style="margin-bottom: 0"): .panel-body
                        img(src="https://www.ideal.nl/img/statisch/iDEAL-groot.gif",height="48",style="position: relative; top: 3px; margin-left: 10px;").pull-right
                        div Na betaling ben je aangemeld en ontvang je een e-mail ter bevestiging.
                .form-group
                    .checkbox
                        label(style="display: block;")
                            input(type="checkbox",name="subscribe",value="subscribe",checked,style="margin-top:6px;")
                            | Ontvang uitnodiging voor volgende Open Cirkel.

                            div.pull-right
                                i.glyphicon.glyphicon-ok.valid(style="display: none;")
                                i.glyphicon.glyphicon-remove.invalid(style="display: none;")

                .form-group
                    .checkbox
                        label(style="display: block;")
                            input(type="checkbox",name="accept",value="accepted",style="margin-top:6px;")
                            | Ik accepteer de 
                            a(href="/algemene-voorwaarden" target="_blank") algemene voorwaarden 
                                i.glyphicon.glyphicon-new-window(style="font-size: 12px;")
                            | .

                            div.pull-right
                                i.glyphicon.glyphicon-ok.valid(style="display: none;")
                                i.glyphicon.glyphicon-remove.invalid(style="display: none;")

                    a.btn-primary.btn-lg.pull-right.submit(disabled) Aanmelden   
                        i.glyphicon.glyphicon-chevron-right