<form class="<%= no_inline?'not-inline':'form-inline' %> callmeback-form">
  <div class="form-group">
    <input type="text" class="form-control callmeback-name" id="name" placeholder="Naam">
  </div>
  <div class="form-group number-group">
    <input type="phone" class="form-control callmeback-number" id="number" placeholder="Telefoonnummer">
  </div>
  <button type="button" id="callmeback" class="btn btn-primary callmeback-btn disabled">Bel me terug</button>
</form>