<form class="email-form form-horizontal">
  <div class="form-group">
    <label class="col-xs-2 control-label" for="name">Naam</label>
    <div class="col-xs-10">
      <input type="name" class="form-control email-name" id="name" placeholder="Voor- en achternaam">
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-2 control-label" for="email">E-mail</label>
    <div class="col-xs-10">
      <input type="email" class="form-control email-email" id="email" placeholder="Je e-mail adres">
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-2 control-label" for="subject">Onderwerp</label>
    <div class="col-xs-10">
      <input type="text" class="form-control email-subject" id="subject" placeholder="Onderwerp">
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-2 control-label" for="exampleInputEmail1">Bericht</label>
    <div class="col-xs-10">
      <textarea rows="5" class="form-control email-message" placeholder="Bericht"></textarea>
    </div>
  </div>
  <div class="form-group email-success-hide">
    <div class="col-xs-10 col-xs-offset-2">
      <button type="button" class="btn btn-default email-btn disabled">Verzenden</button>
    </div>
  </div>
</form>