<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Leven in Compassie</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/bundle.js"></script>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700|Open+Sans:300' rel='stylesheet' type='text/css'>

    </head>
    <body id="wrapper">
        <div id="sidebar-wrapper">
            <div id="sidebar"><%- partial('_partials/sidebar') %></div>
        </div>
        <div id="content-wrapper">
            <div id="navbar" class="text-center">
                <h1>
                    <span class="menu-btn toggle-menu">☰</span> 
                </h1>
            </div>
            <div id="layout" class="container">
                <%- yield %>
            </div>
        </div>
    </body>
</html>