<p>Ik ben Mark Marijnissen. Ik geef sinds 2013 workshops gebaseerd op Geweldloze Communicatie.</p>
<p>Door Geweldloze Communicatie heb ik geleerd open en kwetsbaar te zijn. Ik heb meer inzicht in wat ik voel en nodig heb. Ik voel me meer verbonden met de mensen om mij heen. Daar geniet ik zo van, dat ik er mijn werk van heb gemaakt: Ik leef met compassie.</p>
<p>Mijn missie is jou dat ook te leren. Ik wil jou ook laten genieten van zelfcompassie, verbinding en inzicht.</p>
<p>Ik ontmoet je graag!</p>
<p class="text-right">-Mark</p>