<p>
  Ik ben
  <a target="_blank" href="https://markmarijnissen.com">Mark Marijnissen</a>. Ik
  geef sinds 2013 workshops gebaseerd op
  <a target="_blank" href="https://markmarijnissen.com/tags/nvc.html"
    >Geweldloze Communicatie</a
  >. Daarnaast heb ik meer dan 10 jaar ervaring in
  <a target="_blank" href="https://markmarijnissen.com/tags/meditation.html"
    >meditatie en mindfulness</a
  >
</p>
<p>
  Meditatie gaf me inzicht, acceptatie en compassie... maar dankzij Geweldloze
  Communicatie kan ik dit nu rechtstreeks toepassen in het dagelijks leven.
</p>
<p>
  Door Geweldloze Communicatie heb ik geleerd open en kwetsbaar te zijn. Ik heb
  meer inzicht in wat ik voel en nodig heb. Ik voel me meer verbonden met de
  mensen om mij heen.
</p>
<p>
  Daar geniet ik zo van, dat ik er mijn werk van heb gemaakt: Ik leef met
  compassie.
</p>
<p>
  Mijn missie is jou dat ook te leren. Ik wil jou ook laten genieten van
  zelfcompassie, verbinding en inzicht.
</p>
<p>Ik ontmoet je graag!</p>
<p class="text-right">-Mark</p>
