<form class="form" action="https://tinyletter.com/levenincompassie" method="post" target="_blank">
	<div class="input-group">
		<input type="text" class="form-control email-email" placeholder="e-mail" name="email" id="tlemail">
		<span class="input-group-btn">
		<input type="submit" value="Aanmelden" class="btn btn-primary">
		</span>
	</div>
	<input type="hidden" value="1" name="embed">
	<input type="hidden" value="pa5pb4asa1da33wpc6cbe90qiqe01aeex6" name="anti-captcha-token">
</form>