<div class="text-left">
	<p><h4>Levendigheid &amp; Emotionele intelligentie</h4>Je leert omgaan met innerlijke conflicten, jouw innerlijke criticus, stress, schuld, boosheid, verdriet of wat er ook in je leeft. Doordat je jouw emoties omarmt, ontstaat er meer levendigheid in jouw leven.</p>
	<p><h4>Persoonlijke groei</h4>Je word bewust van jouw gevoelens en behoeftes en je krijgt inzicht in jouw triggers, patronen en onbewuste denk- en communicatiegewoontes.</p>
	<p><h4>Verdieping in contact met anderen</h4> Empathisch luisteren zorgt voor meer intimiteit, warmte en verbinding. Ook handig om frustraties en ruzies op te lossen. Met je partner, op de werkvloer, bij je familie of met je vrienden.</p>
	<p><h4>Effectiviteit &amp; Persoonlijk leiderschap</h4> Het geeft veel kracht en effectiviteit als je weet wat je nodig hebt en weet hoe je hierom kunt vragen. Door te spreken met compassie wordt het een stuk makkelijker om voor jezelf te zorgen en je leven leuker te maken.</p>
</div>