.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
	h1.text-center Agenda
	table.table
		tr
			th Datum
			th Tijd
			th Activiteit
			th Kosten
			th &nbsp;
			//- each date in ['Zaterdag 22 augustus']
				tr
					td #{date}
					td 13:30 - 17:00
					td: a(href="/aanbod/oefengroep") Open Oefengroep
					td &euro; 20,-
		tr
			td Zaterdag 12 december
			td 12:00 - 17:00
			td: a(href="/aanbod/ontmoeting-in-aandacht") Ontmoeting in Aandacht
			td &euro; 75,-
			td: a(href="/aanmelden?p=ontmoeting-in-aandacht-december") Aanmelden
		tr
			td Vrijdag 18 december
			td 19:30 - 22:00
			td: a(href="/aanmelden?p=cursus-info") Informatie Avond<br/>voor de Avondcursus
			td &euro; 15,-
			td: a(href="/aanmelden?p=cursus-info") Aanmelden
		tr
			td Vrijdag 
				| 8, 15, 22 en 29 januari, <br/>5 en 12 februari
			td 19:30 - 22:00
			td: a(href="/aanbod/cursus") Avondcursus: <br/>Communiceren met Compassie
			td &euro; 180,-
			td: a(href="/aanbod/cursus#aanmelden") Aanmelden


	h4 Ontvang uitnodigingen voor alle activiteiten
	p Via een maandelijkse e-mail nodig ik iedereen uit voor de open oefengroep en andere activiteiten. Ik deel ook een persoonlijke ervaring en tip in elke mail.
	!= partial("_newsletter.ejs")
