.col-xs-12.col-md-8.col-md-offset-2
	h1.text-center Agenda
	table.table
		if !hideHeader
			tr
				th Datum
				th Tijd
				th Activiteit
		each date in ['Zaterdag 4 april','Zaterdag 2 mei']
			tr
				td #{date}
				td 13:30 - 17:00
				td: a(href="/aanbod/oefengroep") Open Oefengroep
		tr
			td Donderdag 4 juni
			td 19:30 - 22:15
			td: a(href="/aanbod/oefengroep") Open Oefengroep
		//-each date,index in ['Donderdag 11 juni','Donderdag 25 juni','Donderdag 2 juli','Donderdag 9 juli','Donderdag 16 juli','Donderdag 23 juni']
			tr
				td #{date}
				td 19:30 - 22:15
				td: a(href="/aanbod/cursus") Ontdek de kracht van Compassie (#{index+1}/6)
	p
		| Alle activiteiten vinden plaats in  
		a(href="#{locatie_lindenberg}",target="_blank") De Lindenberg, Nijmegen. 
		| Informatie over de 
		a(href="/over/tarieven") kosten
		|  lees je 				
		a(href="/over/tarieven") hier
		| .