style.
	td,th {
		padding: 0 10px;
	}


mixin header
	.row
		.col-sm-12
			block

mixin row
	.row
		block

mixin section
	.col-sm-6
		block

//-
	mixin header
		block

	mixin row
		block

	mixin section
		block

+header
	h1 Algemene Voorwaarden
	p Zodra je gebruik maakt van een van onze diensten, zijn deze Algemene Voorwaarden van toepassing. Leven in Compassie wil je hiermee duidelijkheid geven over zaken zoals betalingen, annuleren, klachten en vertrouwelijke informatie.

+row
	+section
		h4.red Begrippen
		p
			strong Leven in Compassie: 
			| het bedrijf zoals ingeschreven bij de KvK (50210041), inclusief alle natuurlijke personen die werkzaamheden verrichten voor Leven in Compassie (bijv. een assistent). Voor de leesbaarheid wordt Leven in Compassie benoemd met ‘we’, ‘wij’ en ‘ons’.
		p
			strong Opdrachtgever: 
			| de natuurlijke persoon of rechtspersoon (bijv. een werkgever) die aan Leven in Compassie een opdracht verstrekt.
		p
			strong Client: 
			| de natuurlijke persoon die deelneemt aan een sessie, oefengroep, workshop, cursus e.d. Voor de leesbaarheid wordt de Cliënt aangesproken met ‘je’ en ‘jij’.
		p
			strong Sessie: 
			| alle diensten die worden ingepland op afspraak, zoals bijvoorbeeld coaching, 1-op-1 compassie, relatie sessie of bemiddeling.
		p
			strong Groepsactiviteit: 
			| alle diensten waarop meerdere deelnemers zich kunnen inschrijven, zoals bijvoorbeeld cursussen, workshops en oefengroepen.

		h4.red 1. Toepassing
		p Deze algemene voorwaarden zijn van toepassing op iedere overeenkomst tussen Leven in Compassie en de Opdrachtgever en/of Cliënt.

		h4.red 2. Aard van de dienstverlening
		p Alle diensten van ons zijn inspanningsverbintenissen. De dienstverlening is gericht om verbinding, compassie en inzicht te vergroten. Dat betekent dat wij geen garantie kunnen geven dat er een concrete strategie gevonden wordt om je behoefte te vervulllen.

		h4.red 3. Informatieverstrekking
		p Alle gegevens die nodig zijn voor een goede uitvoering van de opdracht, dien jij en/of je Opdrachtgever vooraf aan ons te verstrekken. Zoals bijvoorbeeld medicijngebruik en eerdere (psychologische) behandelingen en/of diagnoses.

		h4.red 4. Aansprakelijkheid
		p Wij gaan er vanuit dat je in staat bent voor jezelf te zorgen. Bij ernstige psychische klachten raden we je aan om eerst een arts of psycholoog raad te plegen. Je bent te allen tijde zelf verantwoordelijk voor gemaakte keuzes, je eigen gedrag en de consequenties hiervan, zowel gedurende de dienstverlening als de periode daarna.
		p We zijn nimmer aansprakelijk voor directe schade of indirecte schade, emotionele schade of schade voortvloeiend uit beslissingen die jij hebt genomen, zoals bijvoorbeeld schade aan andere deelnemers. Indien je schade aanricht op bezittingen of eigendommen van ons of andere deelnemers, kunnen we deze schade op jou verhalen.

		h4.red 5. Privacy &amp; Vertrouwelijke informatie
		
		h5 Tijdens een sessie
		p Alles wat besproken wordt tijdens een sessie wordt als vertrouwelijk behandeld. 

		h5 Tijdens een groepsactiviteit
		p Als je deelneemt aan een groepsactiviteit dien je alle informatie als vertrouwelijk te behandelen. 
		p Als je vertrouwelijke informatie wilt delen of bespreken, vraag dan eerst toestemming aan de persoon in kwestie. Vraag ook eerst toestemming als je vertrouwelijke informatie wilt bespreken met de persoon in kwestie zelf. 
		
		h5 Omgang met vertrouwelijke informatie
		p Vertrouwelijke informatie wordt <em>nooit</em> gedeeld met derden, tenzij je 
			| uitdrukkelijk toestemming hebt gegeven. 
		p Indien er aantekeningen worden gemaakt, zijn deze geschreven en worden deze nooit gedeeld. Ook niet met jou of de opdrachtgever.
		p Als een sessie of groepsactiviteit wordt gebruikt (bijvoorbeeld voor uitleg of professionele ontwikkeling) wordt je privacy beschermt door alle vertrouwelijke informatie weg te laten of te veranderen.

		h5 Contactgegevens 
		p Leven in Compassie bewaart je contactgegevens voor administratie, zoals bijvoorbeeld voor het verzenden van een factuur.

		h5 Gemeten informatie
		p Met behulp van <strong>Tiny Letter</strong>, <strong>Google Analytics</strong> en <strong>Mouseflow</strong> wordt gemeten hoe de nieuwsbrief wordt gelezen en de website wordt bezocht.

	+section
		h4.red 6. Betaling
		p Betaling gebeurt vooraf via iDEAL met het online aanmeldformulier. 
			| Je krijgt via e-mail een link naar het aanmeldformulier toegestuurd.
			| Als je een andere betalingsregeling wilt treffen, neem dan contact met ons op.

		p Als je een factuur wilt ontvangen, neem dan contact met ons op. Een factuur dien je binnen 28 dagen te betalen. Als je niet betaalt ontvang je een herinnering om binnen 14 dagen te betalen. Als ook dit termijn is verstreken komen de kosten van incasso voor rekening van jou of je Opdrachtgever.

		h4.red 7. Wachtlijst
		p Is er op het moment van aanmelden geen plaats, dan kun je ons een e-mail sturen om op de wachtlijst te komen.
			| Zodra er een plek vrijkomt, wordt de eerste op de wachtlijst benaderd via e-mail. Indien je niet tijdig antwoord, zal de volgende worden benaderd.

		h4.red 8. Annulering
		p Afmelden kan via e-mail of telefoon. Als je je vergeet af te melden of als je niet verschijnt, 
			| worden de kosten van de sessie of groepsactiviteit in rekening gebracht.

		p Als de afmelding kortdag is betaal je (een gedeelte van) de kosten om de doorgang van groepsactiviteiten en de financiele gezondheid te beschermen. 
			table
				thead
					tr
						th Activiteit:
						th Afmelding:
						th Je betaalt: 
				tbody
					tr
						td Sessie
						td binnen 24 uur voor aanvang
						td 100%
					tr
						td 
						td binnen 3 dagen voor aanvang
						td 50%

					tr
						td Groepsactiviteit (maximaal 1 dag)
						td binnen 3 dagen voor aanvang
						td 100%
					tr
						td 
						td binnen 1 week voor aanvang
						td 50%
					tr 
						td Groepsactiviteit (meerdere dagen)
						td binnen 1 week voor aanvang
						td 100%
					tr
						td
						td binnen 2 weken voor aanvang
						td 50%

		p Als wij om welke reden dan ook een activiteit annuleren (bijvoorbeeld door te weinig deelnemers), wordt het door jou overgemaakte bedrag teruggestort op je rekening. We stellen je hiervan zo snel mogelijk op de hoogte via telefoon of e-mail.

		h4.red 9. Planning van groepsactiviteiten
		p Wij hebben het recht de data en/of tijden van groepsactiviteiten te wijzigen.
		p Wanneer een activiteit tussentijds onderbroken moet worden, zullen we ons best doen om de activiteit te laten doorgaan zoals bedoeld. Wanneer dat niet lukt, zal het door jou overgemaakte bedrag (deels) terug gestort worden.

		h4.red 11. Klachten
		p Wanneer je niet tevreden bent over een van onze diensten, dien je dit binnen 14 dagen te melden via een e-mail naar <strong>mark@levenincompassie.nl</strong>. 
		p Ik (Mark Marijnissen) antwoord binnen maximaal 14 dagen. Met behulp van Geweldloze Communicatie breng ik de behoeftes in kaart en gaan we op zoek naar een oplossing.
		p Indien we er samen niet uitkomen, nodigen we <a href="http://www.crislercoaching.com/" target="_blank">Cara Crisler</a> of <a href="http://www.connecting2life.net/" target="_blank">Yoram Mosenzon</a> uit om het conflict op te lossen als onafhankelijke bemiddelaar.

		h4.red 12. Vrijwaring
		p Derden kunnen aan de dienstverlening van Leven in Compassie geen rechten ontlenen.