.container
	.row
		.col-md-6.col-md-offset-3.col-xs-12.col-sm-10.col-sm-offset-1
			div.success(style="display: none;")
				h3.text-center Betaling is gelukt!
				.ybdn-widget-done(style="display: none;")
					.alert.alert-success
						strong Je bent nu aangemeld!
						p Je ontvangt een e-mail met alle informatie. 
					.well
						strong Ontvang uitnodigingen voor nieuwe activiteiten
						p Via een maandelijkse e-mail nodig ik iedereen uit voor de open oefengroep en andere activiteiten.
						!= partial("_newsletter.ejs")
						

			div.error(style="display: none;")
				h3 Betaling is mislukt.
				.alert.alert-danger
					| De betaling is niet gelukt.
				p Probeer het nogmaals, of neem contact met mij op:
				!= partial("_email.ejs")

.container-fluid.success(style="padding: 0; display: none;")
	.row
		.col-xs-12.text-center
			.widget
			
