div.success(style="display: none;")
	h3 Je bent aangemeld!
	.alert.alert-success
		| Je ontvangt een e-mail met alle informatie.
	div
		strong Ontvang een uitnodiging voor de volgende activiteit
		p Ontvang 1x per maand een uitnodiging voor de oefengroep en andere activiteiten.
		!= partial("_newsletter.ejs")

div.error(style="display: none;")
	h3 Betaling is mislukt.
	.alert.alert-danger
		| De betaling is niet gelukt.
	p Probeer het nogmaals, of neem contact met mij op:
	!= partial("_email.ejs")