p Voor het leren van <strong>Geweldloze Communicatie</strong> kun je bij Leven in Compassie een curriculum volgen. 

p De trainingen gebaseerd op Geweldloze Communicatie zijn opgedeeld in drie niveau's. Na het succesvol afsluiten van elk niveau ontvang je een certificaat.

h3 Communiceren met Compassie - Niveau 1
p 
	strong Deelnemer heeft minimaal 15 uur aan training gevolgd voor kennis en vaardigheden gebaseerd op Geweldloze Communicatie. 
p
	| Deze training vindt meestal plaats als  
	a(href="/aanbod/cursus-geweldloze-communicatie") Avondcursus
	| . De volgende onderwerpen komen aan bod:

:markdown
	* Kennis
		* De drie rollen: Zelfverbinding, Transparant spreken en Empathisch luisteren.
		* De vier stappen: Observatie, Gevoel, Behoefte, Verzoek.
		* Verschil tussen Observatie en Interpretatie.
		* Verschil tussen Gevoel en Pseudo-gevoel.
		* Verschil tussen Behoefte en Strategie.
		* Verschil tussen Verzoek en een Eis.
		* Verschillende vormen van de Jakhals.
		* Verschil tussen gevoel benoemen en gevoelstoon voelen.
		* Verschil tussen behoefte benoemen en behoefte vieren.
//-
	* Uitgangspunten
		* Alles wat iemand ooit doet, is om een mooie behoefte te vervullen.
		* Behoeftes zijn nooit in conflict, alleen strategieën kunnen in conflict zijn.
		* Gevoelens worden veroorzaakt vanuit behoeftes: de ander is daarmee misschien aanleiding, maar nooit de oorzaak van een gevoel.
		* Zelfverbinding is nodig voor verbinding.
		* Geef verbinding maken prioriteit.
		* Volg bij empathisch luisteren de ander in zijn eigen ritme en taal.
:markdown
	* Vaardigheden
		* Empathisch luisteren door gevoelens en behoeftes te raden.
		* Empathisch luisteren door in te leven (met je eigen gevoelstoon)
		* Zelfverbinding scheppen door contact te maken met je gevoelstoon
		* Transparant spreken met behulp van de vier stappen.
		* Een jakhals bij jezelf vertalen naar behoeftes.
		* Behoeftes vieren.
		* Een verzoek maken.
		* Bewust een rol kiezen en bewust van rol wisselen.

h3 Communiceren met Compassie - Niveau 2
p 
	strong Na het volgen van minimaal 8 verdiepingsdagen heeft de deelnemer zijn of haar vaardigheden  gedemonstreerd in een certificeringssessie.
p Elk verdiepingsdag heeft een thema waarbij de deelnemer leert hoe hij of zij vaardigheden van niveau 1 kan toepassen op specifieke situaties.
p Na het volgen van minimaal 8 verdiepingsdagen komt de deelnemer in aanmerking voor een certificeringssessie. Tijdens deze sessie moet de deelnemer demonsteren dat hij of zij vaardigheden beheerst voor zelfverbinding, transparant spreken en empathisch luisteren.

p Thema's die aan bod komen zijn onder andere:
	ul
		li Trigger Practice - Zelfverbinding maken in uitdagende situaties
		li Assertiviteit: Nee zeggen
		li Omgaan met schuld en schaamte
		li Innerlijk Conflict
		li Zelfcompassie
		li Introductie Conflictbemiddeling
		li Verdieping Empathisch luisteren
		li Sorry zeggen in Giraffe
		li Waardering uiten in Giraffe
		li Vijandbeelden en frustratie transformeren
		li Empowerment

:markdown
	Voor de volgende verdiepingsdag, bekijk [informatie over verdiepingsdagen](/aanbod/verdiepingsdag).

h3 Communiceren met Compassie - Niveau 3
p 
	strong De deelnemer leeft in compassie, beheerst gevorderde technieken en mag dit uitdragen als trainer voor Leven in Compassie

p De deelnemer laat zien dat hij of zij Communiceren met Compassie uitdraagt in het dagelijkse leven. De deelnemer leeft in overeenstemming met <a href="/info/kernprincipes">de kernprincipes</a> van Communiceren met Compassie. De deelnemer heeft gevorderde vaardigheden gedemonstreerd en mag nu ook training geven voor Leven in Compassie.
p Thema's die aan bod komen zijn onder andere:
	ul
		li Verdieping Conflictbemiddeling
		li Coaching gebaseerd op empathie
		li De coach als facilitator in plaats van adviseur
		li Communiceren met Compassie belichamen en uitdragen
		li Healing Dialogue
		li Voice integration, Rollenspellen en Opstellingen
		li: a(href="/aanbod/ontmoeting-in-aandacht") Ontmoeting in aandacht
		li Meditatie, Mindfulness en werken met het lichaam

p Wil je op dit niveau training ontvangen? Neem dan <a href="/over/contact">contact</a> met mij op.
