img.reactie(src="/assets/banner-uitleg.jpg",style="width: 100%;")
img.reactie(src="/assets/banner-jakhals.jpg",style="width: 100%;")
img.reactie(src="/assets/banner-youbedo.jpg",style="width: 100%;")
img.reactie(src="/assets/banner-twee.jpg",style="width: 100%;")
img.reactie(src="/assets/banner-stappen.jpg",style="width: 100%;")