div <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLkTKwKNhNNomlQ0yYSjosfEtZkE61VqP9" frameborder="0" allowfullscreen></iframe>
:markdown
  ### Het experiment
  
  **Wat gebeurt er als ik 30 dagen alle afleidingen in mijn leven weghaal, en in plaats daarvan
  activiteiten doe die mij helpen dichter bij mijn ervaring te komen?**
  
  ### Waarom?
  
  Afleidingen brengen me comfort, ontspanning en entertainment op korte termijn.
  Ik denk dat het voor onderliggende onrust zorgt op lange termijn. Ik wil 30 dagen geen afleidingen om 
  te ontdekken of dat klopt:
  
  * Voel ik me levendiger?
  * Krijg ik meer innerlijke rust?
  * Wat geeft een afleiding mij eigenlijk?
  * Krijg ik meer inzicht in wat ik voel en nodig heb?
  * Kan ik daardoor beter voor mijzelf zorgen?
  * Word ik hier gelukkiger van?
  
  Je kan dit experiment zien als een **digitale detox** of als **afkicken van de 
  verslaving aan afleidingen**. Ik zie het ook als één grote meditatie: net zoals
  bij een meditatie keer ik steeds terug naar het hier en nu als ik merk dat ik
  afgeleid ben.
  
  > "Refraining - not habitually acting out impulsively - has something to do with giving up the entertainment mentality. Through refraining, we see that there's something between the arising and the craving - or the aggression or the loneliness or whatever it might be - and whatever action we take as a result. There's something there in us that we don't want to experience, and we never do experience, because we're so quick to act. The practice of mindfulness and refraining is a way to get in touch with basic groundlessness - by noticing how we try to avoid it."
  - Pema Chödron, Comfortable with Uncertainty
  
  ### De 4 spelregels
  
  #### 1. Zelfcompassie (in plaats van strengheid)
  Ik wil met nieuwsgierigheid en liefdevolle vriendelijkheid onderzoeken wat er gebeurt als ik afleiding zoek. 
  Ik wil ontdekken wat de onderliggende behoefte is, en die afleiding niet veroordelen als iets negatiefs.
  
  #### 2. Geen afleidingen
  
  Ik heb een lijstje gemaakt van alle manieren waarop ik mezelf afleid:
  
  **Het afleidingen lijstje:**
  
  * Facebook
  * Nieuws, blogs of wikipedia lezen
  * Clickbait websites zoals 9gag of boredpanda bezoeken
  * Antwoorden googlen op dingen die ik mijzelf afvraag
  * Achtergrondinformatie lezen van een artiest op spotify
  * YouTube filmpjes kijken
  * Films of series kijken
  * WhatsApp (tenzij het is om iets af te spreken of te regelen)
  * Lezen
  * Muziek luisteren (tenzij het mij helpt te concentreren als er veel lawaai is op kantoor)
  
  Het zijn allemaal passieve manieren van informatie opnemen. Manieren om niet te
  hoeven voelen wat ik voel. Manieren waarop ik vlucht, vermijd, verdoof. 
  
  Als ik mezelf wil afleiden dan doe ik het volgende:
  
  **Stappenplan bij een afleiding:**
  
  1. Ik ben met wat er is, zonder iets te doen of willen veranderen.
  2. Ik haal 10 keer met aandacht adem.
  3. Ik voel mijn lichaam, en benoem in zoveel mogelijk detail hoe ik me voel.
  4. Ik benoem de onderliggende behoefte.
  5. Ik kijk of ik op een of andere concrete manier direct kan zorgen voor die behoefte. 
  
  Het kan zijn dat ik ongemerkt al bezig ben met een afleiding.
  Dat is niet erg, ik stop gewoon zodra ik mezelf betrap. 
  Om hier snel en scherp in te worden, voeg ik nieuwe afleidingen toe aan mijn lijstje.
  
  #### 3. Meer van het doe-meer lijstje
  
  In plaats van afleidingen ga ik activiteiten doen die mij dichter bij mijn
  ervaring brengen. 
  
  **Het doe-meer lijstje:**
  
  * Niks doen
  * Meditatie
  * Activiteiten doen met mindfulness
  * Dagboeken
  * Wandelen
  * Creatieve dingen waarmee ik mezelf kan uiten zoals piano spelen, tekenen of theatersport.
  * Yoga
  * Filmpje maken over dit experiment
  * Vroeger naar bed
  * Sporten
  
  Ik wil erop letten dat ik van deze activiteiten geen nieuwe afleiding maak.
  Daarom probeer ik zoveel mogelijk dingen te doen die hoog op dit lijstje staan.
  Ik denk dat die mij namelijk het meeste in contact brengen met mijzelf.
  
  #### 4. Mindfulness bij alledaagse activiteiten
  Ik kan mijzelf ook afleiden door er met mijn hoofd niet bij te zijn. Dan ben
  ik in gedachten verzonken terwijl ik iets doe. Ik ga alledaagse activiteiten met meer mindfulness doen.
  
  **Het alledaagse activiteiten lijstje:**
  
  * Alleen eten (ontbijt)
  * Tandenpoetsen
  * Douchen
  * Fietsen
  * Koken
  * WC (geen telefoon kijken op de WC!)
  
  Met "mindfulness" bedoel ik dat ik mijn aandacht richt op de sensorische waarneming 
  van buitenaf: luisteren, kijken, voelen.
  Ik maak contact door te nieuwsgierig te worden naar de details, nuances en subtiele veranderingen van die sensorische waarnemingen.
  
  Als ik merk dat mijn aandacht naar binnen gaat dan benoem ik de categorie ("mentale beelden" of "innerlijk gepraat")
  en het onderwerp ("ik denk aan de Open Cirkel"). Vervolgens richt ik mijn aandacht weer
  op (een gedeelte van) mijn sensorische waarnemingen. Bijvoorbeeld hoe het eten smaakt, 
  of hoe de wind voelt als ik fiets. 
  
  ### Meedoen?
  
  Pak een stuk papier en maak vier lijstjes:
  
  * **Het inspiratie lijstje**: wat inspireert en motiveert jou om dit te doen? Handig voor als je motivatie even wat minder is.
  * **Het afleidingen lijstje**: manieren waarop je vlucht, afstompt of vermijd wat je voelt.
  * **Het doe-meer lijstje**: manieren waarop je dichter bij jezelf komt.
  * **Het alledaagse activiteiten lijstje**: alledaagse activiteiten die je met mindfulness kan gaan doen.
  
  Schrijf daaronder de concrete stappen die je gaat uitvoeren bij een afleiding. Mijn 5 stappen zijn bedoelt
  om aandacht, nieuwsgierigheid en zelfcompassie te scheppen. Die kun je overnemen of aanpassen. 
  
  [Laat me weten](/over/contact) als je meedoet. Het geeft me steun en inspiratie om te horen wie nog meer gaat ontdekken
  wat er gebeurt als je 30 dagen geen afleidingen meer hebt.
