<div class="row">
	<div class="col-xs-12 text-center">
		<img style="width: 250px; height: 220px;" src="/assets/logo.png"></img>
		<h1 class="home-title">Leven in Compassie</h1>
		<p>gebaseerd op <a href="/artikelen/introductie">Geweldloze Communicatie</a><br/>
			door <a href="/over/markmarijnissen">Mark Marijnissen</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 text-center" id="content">
		<h4><a href="/diensten/oefenavond">Oefenavond Verbindend Communiceren in Nijmegen</a></h4>
	</div>
</div>