<section>
	<section>
		<div>
			<img style="height: 200px;" src="/assets/leven-in-compassie-logo.png"></img>
			<h1 class="home-title">Leven in Compassie</h1>
			<p>gebaseerd op <a href="/artikelen/introductie">Geweldloze Communicatie</a><br/>
				door <a href="/over/markmarijnissen">Mark Marijnissen</a>
			</p>
			<p><a class="btn btn-next btn-lg navigate-down"><i class="glyphicon glyphicon-chevron-down"></i></a></p>
		</div>
	</section>
	<section
		style="height: 480px;" 
		data-background-transition="slide"
		data-background="/assets/youbedo.jpg">
		<p style="position: absolute; width: 100%; bottom: 0;">
			<a class="btn btn-next btn-lg navigate-down"><i class="glyphicon glyphicon-chevron-down"></i></a>
		</p>
	</section>
	<section>
		<h2>Ontdek de kracht van compassie</h2>
		<div class="row">
			<div class="col-xs-4">
				Verbinding
			</div>
			<div class="col-xs-4">
				Inzicht &amp; Innerlijke Rust
			</div>
			<div class="col-xs-4">
				Persoonlijke kracht
			</div>
		</div>
		<p><a class="btn btn-next btn-lg" href="#/0/2"><i class="glyphicon glyphicon-chevron-down"></i></a></p>
	</section>

	<section>
		<h2>Reacties van anderen</h2>
		<blockquote class="text-left">"Zo gaat ie goed"</blockquote>
		<q class="text-right">echt wel</q>
	</section>			
	<section>
		<h2>Ervaar het zelf</h2>
		<p>Ik wil dolgraag bijdragen aan verbinding, inzicht, compassie en persoonlijke kracht.<br/>
		Het liefst door te <strong>doen</strong> in plaats van erover te vertellen. <br/>
		Dat geeft mij voldoening, verbinding en vertrouwen.</p>
		<p>Ontvang <a href="/aanbod/1-op-1-compassie">zelf-compassie</a><br/>
			of <a href="/aanbod/1-op-1-training">training</a> in een privé les.
		</p>
		<p>Creeër verbinding in <a href="/aanbod/relatie-sessie">je relatie</a><br/>
			of op <a href="/aanbod/voor-bedrijven">de werkvloer</a>
		</p>
		<p>Of meld je aan voor de <a href="/aanbod/oefengroep">Open Oefengroep</a>. <br/>Ik stuur je per e-mail een uitnodiging.</p>
		<p class="text-center">
			<form style="width: 400px; display: inline-block;" class="form" action="https://tinyletter.com/nvcnijmegen" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/nvcnijmegen', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="e-mail" name="email" id="tlemail">
						<span class="input-group-btn">
						<input type="submit" value="Aanmelden" class="btn btn-primary">
						</span>
					</div>
					<input type="hidden" value="1" name="embed">
					<input type="hidden" value="pa5pb4asa1da33wpc6cbe90qiqe01aeex6" name="anti-captcha-token">
			</form>
		</p>
	</section>
</section>

<section>
		<div>
			<img style="height: 200px;" src="/assets/mark-cirkel.png"></img>
			<h1 class="home-title">Leven in Compassie</h1>
			<p>gebaseerd op <a href="/artikelen/introductie">Geweldloze Communicatie</a><br/>
				door <a href="/over/markmarijnissen">Mark Marijnissen</a>
			</p>
			<p><a class="btn btn-next btn-lg navigate-down"><i class="glyphicon glyphicon-chevron-down"></i></a></p>
		</div>
	</section>