p Wat anderen over mijn werk zeggen:

blockquote.reactie.
	"Ik was verrast over hoeveel Mark ons in korte tijd heeft geholpen.
	<br/>
	<br/> 
	Voor de sessie leken de verschillen (achteraf: strategieën) tussen mij 
	en mijn partner lijnrecht tegenover elkaar te staan. Door de sessie 
	hebben we inzicht gekregen in elkaars behoeften, en elkaar daar in kunnen vinden.
	<br/>
	<br/>
	Mark heeft een prettige manier van werken; hij kan treffend een verhaal 
	samenvatten en helpt daarbij om de grote lijnen eruit te halen. 
	Daardoor kreeg ik zelf ook meer inzicht in mijn eigen gevoelens en behoeften, 
	waarbij Mark vervolgens hielp dit over te brengen. Zijn manier van werken 
	heeft echt gezorgd voor verbinding."
.reactie-auteur - R., over een 
	a(href="/aanbod/relatie-sessie.html") relatie sessie

blockquote.reactie.
	"Ik ga al maanden naar de psycholoog, maar ik vind het moeilijk tot de kern te komen. Dat is met met jou in één middag gelukt!"
.reactie-auteur - M.

blockquote.reactie.
	"Ik vind het ontzettend bijzonder om te merken wat het voor deurtjes 
	opent in het contact met anderen. <br/><br/>
	Door eerlijk te zijn over mijn 
	gevoelens en behoeftes stel ik me kwetsbaar op en ik merk in contact 
	dat dat ontzettend gewaardeerd wordt. Juist door zo open te zijn 
	begrijpt de ander me beter en is het makkelijker om erover te praten/een 
	oplossing te bedenken. Soms is die oplossing niet eens nodig 
	maar is het al een verademing om zo open te communiceren. 
	<br/><br/>
	Ik heb dat al wel van nature in me maar nu ik er steeds meer over 
	hoor en ik het steeds beter begrijp kan ik het makkelijker toepassen."
.reactie-auteur - Aukje Steenhuizen

blockquote.reactie.
	"Heel fijn, inspirerend en leerzaam"
.reactie-auteur - Eva Friedhoff, op facebook over de <a href="/aanbod/oefengroep">Open Oefengroep</a>.

p Kijk ook eens bij de <a href="/fotos">foto's</a> voor een sfeer impressie.