h3 Reacties op de cursus
h4 Communiceren met Compassie - niveau 1
div.
	<div class="fb-post" data-href="https://www.facebook.com/gekkekirsten/posts/10208589032594238:0" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/gekkekirsten/posts/10208589032594238:0"><p>In de workshop (leven met compassie 1), heb ik de basis van geweldloze communicatie geleerd. Door de oefeningen in de...</p>Posted by <a href="https://www.facebook.com/gekkekirsten">Kirsten Goedhart</a> on&nbsp;<a href="https://www.facebook.com/gekkekirsten/posts/10208589032594238:0">Monday, February 15, 2016</a></blockquote></div></div>
br

div.
	<div class="fb-post" data-href="https://www.facebook.com/immy.heijmans/posts/10154077949666019:0" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/immy.heijmans/posts/10154077949666019:0"><p>Heel laagdrempelige manier om te leren communiceren vanuit compassie! Luisteren naar je eigen gevoelens en behoeften, en...</p>Posted by <a href="#" role="button">Immy Heijmans</a> on&nbsp;<a href="https://www.facebook.com/immy.heijmans/posts/10154077949666019:0">Wednesday, February 17, 2016</a></blockquote></div></div>
br

div.
	<div class="fb-post" data-href="https://www.facebook.com/sanderhoge/posts/959517187469285:0" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/sanderhoge/posts/959517187469285:0"><p>Mark Marijnissen heeft mij met zijn cursusavonden geweldloze communicatie een nieuw perspectief gegeven, waardoor ik...</p>Posted by <a href="#" role="button">Sander Hoge</a> on&nbsp;<a href="https://www.facebook.com/sanderhoge/posts/959517187469285:0">Monday, February 15, 2016</a></blockquote></div></div>

h3 Reacties op Onmoeting in Aandacht
div.
	<blockquote class="twitter-tweet" lang="en"><p lang="nl" dir="ltr">Mindful en vol aandacht communiceren. Was bij &#39;n intro-avond, was bijzonder en verhelderend! Binnenkort meer: <a href="https://t.co/6NJxZz53qB">https://t.co/6NJxZz53qB</a></p>&mdash; Katja Linders (@KatjaLinders) <a href="https://twitter.com/KatjaLinders/status/673876709314273284">December 7, 2015</a></blockquote>

div.
	<div class="fb-post" data-href="https://www.facebook.com/eva.friedhoff/posts/1037743289579757:0" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/eva.friedhoff/posts/1037743289579757:0"><p>Een bijzondere ervaring &#x2018;ontmoeting in aandacht&#x2019;. Confronterend, ontspannend, verbindend en mooi!</p>Posted by <a href="#" role="button">Eva Friedhoff</a> on&nbsp;<a href="https://www.facebook.com/eva.friedhoff/posts/1037743289579757:0">Sunday, December 6, 2015</a></blockquote></div></div>
br

div.
	<div class="fb-post" data-href="https://www.facebook.com/aukje.steenhuizen/posts/10153703125278670:0" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/aukje.steenhuizen/posts/10153703125278670:0"><p>&#039;Ontmoeting in aandacht&#039; gaf mij zo&#039;n bevrijdend gevoel! Zat na de open avond helemaal in mijn lichaam. Wat een rust en...</p>Posted by <a href="#" role="button">Aukje Steenhuizen</a> on&nbsp;<a href="https://www.facebook.com/aukje.steenhuizen/posts/10153703125278670:0">Sunday, December 6, 2015</a></blockquote></div></div>

h3 Reacties op Geweldloze Communicatie:
blockquote.reactie.
	"Ik vind het ontzettend bijzonder om te merken wat het voor deurtjes 
	opent in het contact met anderen. <br/><br/>
	Door eerlijk te zijn over mijn 
	gevoelens en behoeftes stel ik me kwetsbaar op en ik merk in contact 
	dat dat ontzettend gewaardeerd wordt. Juist door zo open te zijn 
	begrijpt de ander me beter en is het makkelijker om erover te praten/een 
	oplossing te bedenken. Soms is die oplossing niet eens nodig 
	maar is het al een verademing om zo open te communiceren. 
	<br/><br/>
	Ik heb dat al wel van nature in me maar nu ik er steeds meer over 
	hoor en ik het steeds beter begrijp kan ik het makkelijker toepassen."
.reactie-auteur - Aukje Steenhuizen

h3 Reacties op Relatie Sessies:
blockquote.reactie.
	"Ik was verrast over hoeveel Mark ons in korte tijd heeft geholpen.
	<br/>
	<br/> 
	Voor de sessie leken de verschillen (achteraf: strategieën) tussen mij 
	en mijn partner lijnrecht tegenover elkaar te staan. Door de sessie 
	hebben we inzicht gekregen in elkaars behoeften, en elkaar daar in kunnen vinden.
	<br/>
	<br/>
	Mark heeft een prettige manier van werken; hij kan treffend een verhaal 
	samenvatten en helpt daarbij om de grote lijnen eruit te halen. 
	Daardoor kreeg ik zelf ook meer inzicht in mijn eigen gevoelens en behoeften, 
	waarbij Mark vervolgens hielp dit over te brengen. Zijn manier van werken 
	heeft echt gezorgd voor verbinding."
.reactie-auteur - Anoniem

blockquote.reactie.
	"Ik ga al maanden naar de psycholoog, maar ik vind het moeilijk tot de kern te komen. Dat is met met jou in één middag gelukt!"
.reactie-auteur - Anoniem

.text-right: a.btn.btn-default(href="/aanbod/")
			| Bekijk het aanbod 
			i.glyphicon.glyphicon-chevron-right