:markdown
	Mijn werk is gebaseerd op Geweldloze Communicatie. Geweldloze Communicatie is bedacht door Marshal Rosenberg en is ontwikkeld om conflicten op te lossen. Dat kunnen politieke conflicten zijn, maar ook conflicten op het werk, in je relatie of in jezelf.

	Geweldloze Communicatie werkt ontwapenend omdat je jezelf leert uitdrukken op een niet-aanvallende manier. Je krijgt meer helderheid over je eigen gevoelens en behoeftes, en je maakt contact met de gevoelens en behoeftes van een ander. Daarmee ontwikkel je empathie voor jezelf en voor de ander.

	Je leert straks wat theorie, maar het is belangrijk dat je spreekt vanuit je hart, en niet vanuit je hoofd. De gouden regel is bij geweldloze communicatie: "verbinding is het allerbelangrijkste". De theorie is bedoeld om je daarbij te ondersteunen, en niet om intelectueel te analyseren wat "correct" is. De onderliggende intentie telt.

	Geweldloze Communicatie bestaat uit vier elementen: observaties, gevoelens, behoeftes en verzoekjes. Die kun je op verschillende manieren gebruiken. Laten we beginnen met spreken. Dat noemen ze "zelf-expressie" bij Geweldloze Communicatie.


	### Zelf-Expressie

	Als je communiceert met de vier geweldloze elementen spreek je giraffe-taal. (Een giraffe heeft het grootste hart van alle zoogdieren). Elk van de vier elementen heeft ook een valkuil. Dit word jakhals-taal of jakhalzen genoemd.

	Bij zelf-expressie gebruik je alle elementen bijvoorbeeld als volgt:

	> "Ik zie dat je steeds heen en weer loopt. (observatie)<br/>
	> Ik voel me zenuwachtig, (gevoel) <br/>
	> omdat ik behoefte heb aan rust. (behoefte) <br/>
	> Zou je willen helpen rust te geven door even stil te zitten?" (verzoek)

	### Stap 1: Observatie.
	> "Ik zie dat je steeds heen en weer loopt. (observatie)

	Een observatie is iets wat je ziet of hoort. Een observatie kun je vastleggen op film, in tegenstelling tot meningen, interpretaties, gedachte lezen of waarde-oordelen. Observeren is makkelijker gezegd dan gedaan: Je staat ongeduldig te wachtenbevat namelijk al een invulling: ongeduldigen wachten. Als test kun je je afvragen: Is hierover een discussie mogelijk?. Bij een echte observatie kan niemand je tegenspreken.

	Interpretaties en oordelen zijn jakhals-taal, maar daarmee niet per se "fout". Het gaat er eerder om dat je er voorzichtig en bewust mee omgaat. Doordat je ongeduldig presenteert als een objectieve observatie is er geen ruimte voor een ander gevoel, en daarom kan het verbinding tegen gaan. Een echte observatie zou zijn: Ik zie dat je steeds heen en weer looptof Ik zie dat je aan het tikken bent met je handen. Door te checken of je interpretatie klopt, maak je ruimte om verbinding te maken: Voel je je ongeduldig?


	### Stap 2: Gevoel
	> "Ik zie dat je steeds heen en weer loopt. (observatie) <br/>
	> Ik voel me zenuwachtig, (gevoel)

	Vervolgens benoem je je gevoel, bijvoorbeeld onrustigof zenuwachtigin het voorbeeld. Het is echter heel makkelijk om een oordeel of interpretatie te vermommen als gevoel. Dat gebeurt als een gevoel de situatie of de ander beschrijft. Vaak beginnen zulke uitspraken met Ik voelt dat…. Bijvoorbeeld: Ik voel dat jij ongeduldig bent.

	Of neem bijvoorbeeld Ik voel me verlaten. Verlaten is iets wat gebeurt, en impliceert dat iemand je verlaten heeft. Hier is discussie over mogelijk: Ik heb je helemaal niet verlaten!. Net als bij observaties kan er over gevoel geen discussie onstaan. Het onderliggende gevoel is hier waarschijnlijk Ik voel me eenzaam. Dat kan niemand tegenspreken.

	Wederom geldt dat verbinding het allerbelangrijkste is. Het kan namelijk best zijn dat iemand zich aangesproken voelt als je zegt dat je je eenzaam voelt, en dat "verlaten" helemaal niet vervelend klinkt. De theorie geeft steun, maar de intentie en impact geven de doorslag.


	### Stap 3: Behoefte
	> "Ik zie dat je steeds heen en weer loopt. (observatie) <br/>
	> Ik voel me zenuwachtig, (gevoel) <br/>
	> omdat ik behoefte heb aan rust. (behoefte)<br/>

	Geweldloze Communicatie stelt dat gevoelens altijd worden veroorzaakt door onderliggende behoeftes. Je hebt positieve gevoelens als je behoeftes vervuld zijn, en negatieve gevoelens voor als je behoeftes onvervuld zijn. Bijvoorbeeld: Ik voel me voldaan als mijn behoefte erkenning is vervuld. Ik voel me eenzaam als ik behoefte heb aan verbinding.

	Geweldloze Communicatie benadrukt verantwoordelijkheid nemen voor je gevoel. Ik voel want IK heb behoefte aan…., maar ook Jij voelt want JIJ hebt behoefte aan…. Alhoewel een ander aanleiding kan zijn voor een gevoel, wordt een gevoel altijd veroorzaakt vanuit je eigen behoeftes (en interpretaties).

	Behoeftes, zo stelt geweldloze communicatie, zijn er om te vertellen wat je nodig hebt en hoe je je leven kunt verrijken. Behoeftes zijn universeel en abstract: alle mensen op de wereld hebben dezelfde behoeftes.

	De tegenhangers van behoeftes zijn strategieen. Een strategie is een manier om een behoefte te vervullen. Een strategie is dus specifiek, terwijl een behoefte abstract is. Als we even terug gaan naar het voorbeeld:

	> "Als je heen en weer loopt, (observatie) <br/>
	> voel ik me zenuwachtig, (gevoel) <br/>
	> omdat ik behoefte heb aan dat jij stilzit. (strategie)" 

	Elke behoefte heeft oneindig veel strategieen. Als je een strategie noemt in plaats van de behoefte, laat je alle andere strategieen buiten beschouwing. Dan is de wereld een stuk beperkter. In het voorbeeld: ofjij bent zenuwachtig, ofde ander moet gedwongen stilzitten (en kan zijn energie niet kwijt). Je denkt dan in of/oftermen, waarbij er iemand concessies moet maken. Net als alle jakhals-taal zijn strategieen niet verkeerd. Je moet ze alleen op de juiste moment gebruiken. Het is belangrijk dat je eerst de onderliggende behoeftes benoemd om ruimte voor discussie en verbinding te maken.

	In het voorbeeld: Ik heb behoefte aan rust en jij hebt behoefte aan beweging. Als dit eenmaal duidelijk is, worden veel meer strategieen duidelijk om alle behoeftes te vervullen.

	### Stap 4: Verzoek

	> "Ik zie dat je steeds heen en weer loopt. (observatie) <br/>
	> Ik voel me zenuwachtig, (gevoel) <br/>
	> omdat ik behoefte heb aan rust. (behoefte) <br/>
	> Zou je willen helpen rust te geven door even stil te zitten?" (verzoek)

	Na de observatie, gevoel en behoefte kun je een verzoek doen. Een verzoek is een concrete strategie hoe je je behoefte kunt vervullen. Het is belangrijk dat een verzoekje concreet is. Dus in plaats van Wil je me liefde geven?kun je vragen Wil je me een knuffel geven?. Want hoe geef je liefde? Dat kan voor iedereen anders zijn.

	Ook is het belangrijk dat het verzoekje in meteen uit te voeren is. Daarmee ontdek je vaak wat er werkelijk speelt. In plaats van wil je de volgende keer even gedag zeggen?kun je verzoeken wil je nu beloven dat je van plan bent gedag te zeggen?. Dan ontdek je dat je nugeruststelling wilt, geen gedag zeggen later.

	De valkuil van verzoekjes zijn eisen. Daarom zou achter elk verzoekje eigenlijk een disclaimer moeten: Maar doe dit alleen als je hier gelukkiger van wordt, want als je met tegenzin iets doet, zal ik daar vroeg of laat altijd voor betalen. Het is "HELL YES!" of helemaal niet. Dit kan in het begin gek klinken. Misschien doe je ook veel dingen met tegenzin. Als dat zo is, helpt het waarschijnlijk te zoeken naar onderliggende behoeftes. Daarmee voorkom je dat je beperkt blijft tot specifieke strategieen en of/ofdenken.

	Het verschil tussen verzoekjes en eisen word pas duidelijk als er nee gezegd word. Bij verzoekjes is iemand vrij om nee te zeggen, terwijl je bij eisen vaak gestraft word met boosheid of een schuldgevoel. Verzoekjes zijn vrij van straffen of belonen.

	Communicatie bestaat natuurlijk uit spreken en luisteren. We hebben net besproken hoe je de vier elementen gebruikt bij spreken (zelf-expressie). Nu zal ik kort toelichten hoe je kunt luisteren.

	### Luisteren
	Als je luistert, vertaal je alles wat iemand zegt naar giraffe-taal: observaties, gevoelens, behoeftes en verzoekjes. Als de spreker zegt: Die klootzak heeft de baan voor mijn neus afgepakt!, dan kun je vragen: Ben je boos omdat je het niet eerlijk vind?. Daarmee raad je naar het gevoel (boos) en behoefte (eerlijkheid) onderliggend aan de uitspraak.

	Het is goed om een specifiek gevoel of behoefte te noemen. Op die manier help je de spreker helderheid te krijgen in wat er bij hem leeft. Om te voorkomen dat je invult is het belangrijk dat je er een groot vraagteken achter zet. Doordat je inleeft en alles vertaalt naar wat er in iemand leeft in termen van gevoelens en behoeftes, zal de spreker zich sneller gehoord voelen. Daarom noemen ze "luisteren" bij Geweldloze Communicatie ook wel "empathie geven".

	Een paar bekende valkuilen bij het luisteren zijn: ongevraagd advies geven, het probleem willen oplossen, invullen (in plaats van raden) of over je eigen ervaringen beginnen (dat is zelf-expressie). Dat laatste gebeurt vaak als de luisteraar geen ruimte heeft en zelf iets op het hart heeft. Daarom doe je er als spreker goed aan om te verzoeken: "Heb je ruimte om even te luisteren?". Als de ander geen ruimte heeft om te luisteren, kun je aan zelf-connectie doen.

	Meer uitleg? Bekijk een youtube film van Marshal Rosenberg.

	### Zelf-Connectie
	Het is soms behoorlijk lastig om je eigen gevoelens en behoeftes te benoemen. Het is reuze handig als iemand je daarbij wilt helpen door te luisteren… maar wat nou als dat niet kan? Er is heel vaak geen tijd, geen ruimte, of de ander is niet bekend met Geweldloze Communicatie. In zulke situaties kun je aan zelf-connectie doen.

	Zelf-connectie is niets meer dan in stilte naar jezelf luisteren. Je neemt een moment om te raden welke gevoelens en behoeftes er spelen. Als je de kern te pakken hebt, kun je dat in je lichaam voelen als opluchting, ontspanning en ruimte. Mensen met ervaring in meditatie of mindfulness zijn hier vaak al wat handiger in, omdat ze weten hoe ze hun gedachtes, gevoelens en lichaam niet-veroordelend kunnen observeren.

	Laat je niet foppen: Zelf-connectie lijkt een leuke truuk voor als je ruimte nodig hebt, maar het is eigenlijk het beginpunt van geweldloos communiceren!!!!!. Zo belangrijk dat het wel 6 uitroeptekens verdient. Want hoe kun je met de ander verbinden als je niet eens met jezelf verbonden bent? Tegelijkertijd is zelf-connectie ook het moeilijkste om uit te leggen of te laten zien, omdat het gaat over je innerlijke beleving.

	### Samenvatting
	Met deze korte introductie ken je de basis-begrippen van geweldloze communicatie. In een notendop:

	Bij Geweldloze Communicatie geldt dat verbinding en spreken vanuit het hart het allerbelangrijkste is. De theorie is slechts een steun, het is de intentie en impact die telt.

	Geweldloze Communicatie bestaat uit vier elementen. Dit heet giraffe-taal, en staat in tegenstelling tot jakhals-taal.

	1. Observaties, met als valkuil oordelen en interpreteren.
	2. Gevoelens, met als valkuil de situatie of ander beschrijven.
	3. Abstracte Behoeftes, met als tegenhanger specifieke strategien.
	4. Verzoekjes, met als valkuil eisen, belonen en straffen.

	Je kunt deze vier elementen op drie manieren gebruiken:

	1. Zelf-expressie: Zeg stap voor stap alle elementen (spreken).
	2. Empathie geven: Vertaal de speker naar giraffe-taal (luisteren).
	3. Zelf-connectie: Luister in stilte naar jezelf en raad je gevoelens en behoeftes (zelf-empathie).

	Het is belangrijk dat je altijd begint met zelf-connectie, omdat je eerst met jezelf moet verbinden voor je het met anderen kunt doen.