p Lees meer over Geweldloze Communicatie op <strong><a href="https://markmarijnissen.com/tags/nvc.html">markmarijnissen.com</a></strong>.
	|  Hier staat informatie, aanbevolen collega's, artikelen en meer.

a.btn.btn-primary.pull-right(href="https://markmarijnissen.com/tags/nvc.html",target="_blank") Lees meer op markmarijnissen.com &rarr;
