
:markdown
	Mijn werk is gebaseerd op Geweldloze Communicatie.

	Geweldloze Communicatie is een communicatiemodel waarmee ik geleerd heb verbinding te scheppen en compassie te ontwikkelen. 

	Geweldloze Communicatie is erg praktisch en kan direct worden toegepast op allerlei dagelijkse situaties. Het wordt met success ingezet op de werkvloer, bij het opvoeden van kinderen, bij conflicten, bij vrienden, familie en intieme relaties. 

	Geweldloze Communicatie heeft mij onder andere geleerd:

	* Transparant en eerlijk spreken zonder te veroordelen of eisen.
	* Emphatisch luisteren, zelfs in een lastige situatie zoals conflict of ruzie.
	* Oordelen en (zelf)kritiek transformeren naar verbinding en (zelf)compassie.
	* Conflicten bemiddelen.
	* Inzicht in gevoelens en behoeftes, van zowel mijzelf als anderen.
	* Assertiviteit ontwikkelen: durf te vragen en nee te zeggen.

	Onderliggend aan deze vaardigheden zijn een aantal uitgangspunten. Deze uitgangspunten geven mij een een nieuw perspectief waardoor ik de wereld kan zien met meer compassie. 

	Ik kan je deze vaardigheden en een nieuw perspectief leren tijdens een cursus of individuele coaching. Ik kan de methode ook direct toepassen voor conflictbemiddeling of voor verbinding te scheppen in bijvoorbeeld je relatie.

//-Neem bijvoorbeeld de uitgangspunten: *"Mensen zijn van nature goed"* en *"Alle acties zijn een poging om naar beste weten een behoefte te vervullen"*. Dit geeft een nieuw perspectief. Hierdoor vraag ik *"Waar heeft iedereen behoefte aan?"* in plaats van *"Wie is er goed en wie is er fout?"*. Samen met vaardigheden zoals empathisch luisteren werkt dit ontwapenend. Door te inventariseren wat iedereen nodig heeft voelt iedereen zich gehoord en voorkom ik polarisatie.