.row: .col-sm-8.col-sm-offset-2: .row
	.col-xs-12
		h1.text-center Kernprincipes
	.col-md-6.hidden-sm.hidden-xs
		strong OVER JEZELF
	.col-md-6.hidden-sm.hidden-xs
		strong OVER DE ANDER
	.col-md-6
		h4.red Eerlijkheid
		p Authenticiteit komt als je jezelf kwetsbaar en transparant zien.
	.col-md-6
		h4.red Verbinding
		p Zoek eerst verbinding voordat je handelt.
	.clear.hidden-sm.hidden-xs
	.col-md-6
		h4.red Zelfcompassie
		p Ontwikkel een vriendelijke, niet-veroordelende houding naar jezelf.
	.col-md-6
		h4.red Mensen zijn inherent goed
		p Alles wat iemand ooit doet is zijn beste poging om een mooie behoefte te vervullen.
	.clear.hidden-sm.hidden-xs
	.col-md-6
		h4.red Verantwoordelijkheid
		p Neem de leiding over jouw eigen leven: Je bent verantwoordelijkheid voor jouw acties, gevoelens en behoeftes.
	.col-md-6
		h4.red Behoeftes zijn in harmonie
		p Onze behoeftes zijn nooit in conflict met elkaar - alleen strategieën om die behoeftes te vervullen kunnen botsen.
	.clear.hidden-sm.hidden-xs
	.col-md-6
		h4.red Aandacht &amp; Aanwezigheid
		p Door mindful bewust te zijn van wat <em>nu</em> er gebeurt in je lichaam, gevoelens en gedachtes kun je jouw patronen ontdekken en veranderen.
	.col-md-6
		h4.red Meebewegen
		p Volg wat er op natuurlijke wijze gebeurt en probeer nooit iemand te veranderen of forceren.
.row: .col-xs-12
	.text-right: a.btn.btn-default(href="/info/leven-in-compassie")
			| Lees ovet het bedrijf
			i.glyphicon.glyphicon-chevron-right
