.row
	.col-sm-12.text-center
		h1 Leven in Compassie
.row
	.col-md-4.col-md-offset-2.col-sm-8.col-sm-offset-2
		.text-center: img(src="/assets/leven-in-compassie-logo.png",style="height: 300px;")
	.col-md-4.col-sm-8.col-sm-offset-2.col-md-offset-0
		p Op het logo van <strong>Leven in Compassie</strong> zie je wat belangrijk voor me is:
		p 	Een 
			strong hart
			| . Natuurlijk staat een hart centraal! Het gaat immers om verbinding en 
			| compassie <em>voelen</em>.
		p 	Een 
			strong lotus
			| . Ik haal veel inspiratie uit meditatie, mindfulness en boeddhisme. 
			| Het versterkt elementen van aandacht, compassie, inzicht en helderheid in
			|  mijn Geweldloze Communicatie.
		p 	
			strong Down-to-earth
			| . Sommigen herkennen misschien het symbool voor aarde uit de elektro-techniek.
			| Ik spreek graag in duidelijke en praktische taal - en daar past de 
			| methode van Geweldloze Communicatie uitstekend bij!

		p Zoals ik al zei - ik <strong>doe</strong> liever dan dat ik er over praat. 
			| Misschien bij een   
			a(href="/aanbod")  activiteit
			| ?

.row: .col-xs-12
	.text-right: a.btn.btn-default(href="/info/markmarijnissen")
			| Over Mark Marijnissen 
			i.glyphicon.glyphicon-chevron-right


