.row
	.col-sm-12.text-center: h1 Mark Marijnissen
.row
	.col-sm-4.col-sm-offset-2
		.text-right: img(src="/assets/mark.jpg",style="height: 350px;")
	.col-sm-4
		!= partial('../_markmarijnissen')
		p: strong Lees meer over mij op <a href="https://markmarijnissen.com" target="_blank">markmarijnissen.com</a>
