p Het werk van Leven in Compassie is gebaseerd op Geweldloze Communicatie en geeft je de volgende voordelen: 
!= partial('../_voordelen')
.text-right: a.btn.btn-default(href="/info/kernprincipes")
	| Lees over de kernprincipes 
	i.glyphicon.glyphicon-chevron-right