<div class="list-group">
  <a href="/" class="list-group-item"><i class="glyphicon glyphicon-home"></i> Leven in Compassie</a>
  <a href="/artikelen/introductie" class="list-group-item"><i class="glyphicon glyphicon-heart"></i> Uitleg
  </a>
  <a href="/diensten/oefenavond" class="list-group-item"><i class="glyphicon glyphicon-comment"></i> Oefenavond
  </a>
  <a href="/over/markmarijnissen" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Mark Marijnissen
  </a>
</div>