#navbar {
	font-family: 'Open Sans', Arial, sans-serif;
	text-align:center;
	h1 {  
		font-size: 28px;
 		margin-top: 10px;
	}
	ul.nav-pills { 
		display:inline-block; 
		&>li {
			display: inline;
			&> a {
				float: left;
			}
		}

	}
	.dropdown-menu {
		margin-top: -2px;
	}
}