@import "./bootstrap.less";
@import "./navbar.less";
@import "./font/bariol.css";
@import './reveal-tweaks.less';
@import './homepage.less';
@import './headerimg.less';

/* utils */
.align-top {
	margin-top: 0;
}

.title-block h2, .title-block h4,{
	text-align: center;
	margin: 0;
	line-height: 1em;
	color: #CF4C6A;
}

.highlight-block {
	background-color: white;
	padding: 15px;
	color: @brand-primary;
	border: 1px solid @brand-primary;
	border-style: solid none;
}

h5 {
	color: @brand-primary;
	background-color: white;
	padding: 15px;
	border: 1px solid @brand-primary;
	border-style: solid none;
}

.callmeback-form.not-inline {
	width: 200px;
	display: inline-block;
}
body {
	position: relative;
}
.footer {
	background-color: #E9E9E3;
	padding-bottom: 25px;
}

.nav li strong {
	padding: 10px 15px;
}

h1.title {
	line-height: 1em;
	background-color: radial-gradient(white,@body-bg);
	margin-bottom: 30px;
}
.lineheight {
	line-height: 1em;
}

.toc.affix {
	top: 70px;
}

/* elements */
blockquote {
	//background-color: #EEEEEE;
	border-left-style: none;
	.chat-bubble();
}
blockquote::after {
	.chat-bubble-after();
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}
h4 {
	margin-bottom: 0px;
}
.red {
	color: @brand-primary !important;
}

blockquote.reactie {
	background-color: white;
	box-shadow: 2px 2px 0 #EBEBEB;
	font-style: italic;
	margin: 0 0 30px 0;
	border-left-style: none;
	position: relative;
	border-radius: 10px;
}

.highlight {
	background-color: white;
}

.reactie-auteur {
	text-align: left;
	margin-left: 50px;
	position: relative;
	top: -8px;
	margin-bottom: 25px;
}
img.reactie {
	//margin-bottom: 25px;
}

.title {
	text-align: center;
}
.home-title {
	text-transform: uppercase;
	line-height: 1;
	//font-size: 36px;
	font-size: 28px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

.chat-bubble(@color: #FFF){
	box-shadow: 2px 2px 0 #EBEBEB;
	background-color: @color;
	margin: 0 0 30px 0;
	position: relative;
	border-radius: 10px;
}

.chat-bubble-after(@color: #FFF) {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    border-width: 20px 0 0 20px;
    border-style: solid;
    border-color: @color rgba(0, 0, 0, 0);
    display: block;
    width: 0;
}