@import "./bootstrap.less";

.menu-btn {
	cursor: pointer;
	float: left;
	padding-left: 15px;
}
#content-wrapper {
	padding: 20px;
}
#sidebar-wrapper {
	background-color: #ddd;
	border: 1px solid #DDD
}
blockquote {
	background-color: #EEEEEE;
}
#navbar {
	h1 {  
		font-size: 28px;
 		margin-top: 10px;
	}
}
.home-title {
	margin-top: 0;
	margin-bottom: 0;
}

.headroom--top .title {
	display: none;
}
.headroom--not-top {
	border-bottom: 2px solid #EBEBEB;
  	background-color: #EEE;
}
#sidebar {
}
.list-group-item {
	background-color: #EBEBEB;
}
.list-group-item:last-child, .list-group-item:first-child {
	border-radius: 0;
}
