@import "./bootstrap.less";
@import "./navbar.less";

.menu-btn {
	cursor: pointer;
	float: left;
	padding-left: 15px;
}

blockquote {
	background-color: #EEEEEE;
}
.title {
	text-align: center;
}
.home-title {
	margin-top: 0;
	margin-bottom: 0;
}

.headroom--not-top {
	border-bottom: 2px solid #EBEBEB;
  	background-color: #EEE;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }