@width: 250px;
@menu-duration: 0.25s;
@nav-duration: 200ms;

.headroom {
    z-index: 1000;
    transition: left @menu-duration ease, transform @nav-duration linear;
}
.headroom--pinned {
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.headroom--not-top {
    .title {
        display: block !important;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}